#verification_table{
    width: 500px;
    height: 430px;
    margin-left: 500px;
    margin-top: 60px;
    background-color: white;
    border-radius: 15px;
    border: none;
}

td.verification_heading_color{
    text-align: center;
    background: transparent linear-gradient(90deg, #FF3300 0%, #FF9900 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 10px #00000066;
    border-radius: 15px 15px 0px 0px;
    opacity: 1;
 
}
.verification_image{
    width: 100px;
    margin-top: -10px;
    margin-bottom: 5px;
    height: 100px;
    
}

.verify_email_address{
    font-size: 35px;
    margin-top:10px;
    text-align: center;
}

.verify_email_welcome{
    text-align: center;
    margin-top: -20px;
    color: orangered;
}

.verify_email_please{
    text-align: center;
    margin-top: -2px;
}

.verify_email_submit{
    width: 200px;
    border-radius: 15px;
    height: 50px;
    box-shadow: 0px 3px 10px #00000066;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 6px;
    background-color: orangered;
    color: white;
    
}

.verify_email_submit:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    
} 

.verify_button_fix{
    text-align: center;
    margin-top: 5px;
    

}

.verify_email_error{
    text-align: center;
    margin-bottom: 25px;
}

/* @media only screen and (min-width: 320px) 
and (max-width: 359px) 
{
    #verification_table{
        margin-left: 50px;
    }
} */