#backgroundimage{
width: 100%;
height: 50%;
background:transparent 0% 0% no-repeat padding-box;
background:cover ;
overflow: hidden;
}
#home_about_background_color{
    background: transparent linear-gradient(280deg, #111111 0%, #000000 100%) 0% 0% no-repeat padding-box;
    padding-bottom:1px;
}
#homeaboutheading{
  color:#ffffff;
  text-align:center;
  margin-top:0px;
 padding-bottom:10px;
 font-size:32px ;  
 padding-top: 55px;
}
.homeaboutpara{
    font-size: 22px;
  line-height: 45px;
  margin-top: 15px;
  margin-bottom: 60px;
    color:#ffffff;
    text-align:center;
    
}
#Homegoals{

    background: transparent linear-gradient(80deg, #111111 0%, #000000 100%) 0% 0% no-repeat padding-box;
    margin-top: 0px;
    padding-top:1px;
    border-top: 3px solid transparent ; 
    border-bottom: 3px solid transparent;  
    border-image: linear-gradient(to left, orangered , yellow);
    border-image-slice: 1; 
}
#home_goals_heading{
   font-size: 72px;
  background: -webkit-linear-gradient(45deg,orangered ,gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-weight: bold;
   font-size:40px;
   text-align:center;
   text-transform: uppercase;

}
.goalshomecard{
    display: flex;
    padding-bottom:20px;
}
#goalshomecards1{
    color: white;   
    border: 3px solid;
    width: 260px;
    height: 333px;
  border-radius: 20px;
 margin-left:80px ;
}
#picturehere{
    height: 80px;
    width: 80px;
    margin-left: 31%;
    margin-top: 5%;
    
}
#goalshomecards_heading{
 text-align: center;
 margin-top: 30px;
    font-size: 31px;
}
#goalshomecards_content{
    margin-top: 30px;
    text-align: center;
    font-size: 21px;
    
}

#goalshomecards2{
    width: 260px;
    height: 333px;
       margin-left:100px ;
    color: white;
    background:none;
    border: 3px solid white;
    border-radius: 20px;
    opacity: 1;
   
}

#goalshomecards3{
    width: 260px;
    height: 333px;          
       margin-left:100px ;
       margin-top: 0px;
    color: white;
    background:none;
    border: 3px solid white;
    border-radius: 20px;
    opacity: 1;
   
}

#goalshomecards4{
    width: 260px;
    height: 333px;      
    margin-left:100px ;
    margin-top: 0px;
    color: white;
    background:none;
    border: 3px solid white;
    border-radius: 20px;

   
} 
@media only screen and (max-width: 319px) {
        
        .homeaboutpara {
            font-size: 9.4px;
            line-height: 15px;
            margin-left: 25px;
            width: 270px;
           }
         #homeaboutheading{
            font-size: 17px;
           
          }
          .goalshomecard{
              flex-direction: column;
              margin-left: 30%;
          }
        #home_goals_heading{
           font-size:20px;
        }
        #picturehere{
            height: 28px;
            width: 28px; 
            margin-top:5px ;
            margin-left: 38%;           
        }
        #goalshomecards_heading{
        
         margin-top: 15px;
         font-size: 12px;
        }
        #goalshomecards_content{
            margin-top: 12px;
            text-align: center;
            font-size: 10px;
            
        }
        #goalshomecards1{
            width: 120px;
            height: 150px;
            border-radius: 10px;
            margin-left:0px;
            border:1px solid white;
        }
        #goalshomecards2{
            width: 120px;
            height: 150px;
            border-radius: 10px;
            margin-left:0px;
            border:1px solid white;
            margin-top: 10px;
           
        }
        
        #goalshomecards3{
            width: 120px;
            height: 150px;
            border-radius: 10px;
            margin-left:0px;
            border:1px solid white;
            margin-top: 10px;
           
        }
        
        #goalshomecards4{
            width: 120px;
            height: 150px;
            border-radius: 10px;
            margin-left:0px;
            border:1px solid white;
            margin-top: 10px;
           
        } 
    }


@media only screen and (min-width: 320px) 
    and (max-width: 359px) {
        
        .homeaboutpara {
            font-size: 9.4px;
            line-height: 15px;
            margin-left: 25px;
            width: 270px;
           }
         #homeaboutheading{
            font-size: 17px;
           
          }
          .goalshomecard{
              flex-direction: column;
              margin-left: 30%;
          }
        #home_goals_heading{
           font-size:20px;
        }
        #picturehere{
            height: 28px;
            width: 28px; 
            margin-top:5px ;
            margin-left: 38%;           
        }
        #goalshomecards_heading{
        
         margin-top: 15px;
         font-size: 12px;
        }
        #goalshomecards_content{
            margin-top: 12px;
            text-align: center;
            font-size: 10px;
            
        }
        #goalshomecards1{
            width: 120px;
            height: 150px;
            border-radius: 10px;
            margin-left:0px;
            border:1px solid white;
        }
        #goalshomecards2{
            width: 120px;
            height: 150px;
            border-radius: 10px;
            margin-left:0px;
            border:1px solid white;
            margin-top: 10px;
           
        }
        
        #goalshomecards3{
            width: 120px;
            height: 150px;
            border-radius: 10px;
            margin-left:0px;
            border:1px solid white;
            margin-top: 10px;
           
        }
        
        #goalshomecards4{
            width: 120px;
            height: 150px;
            border-radius: 10px;
            margin-left:0px;
            border:1px solid white;
            margin-top: 10px;
           
        } 
    }





















@media only screen and (min-width: 360px) 
    and (max-width: 374px) {
   
        #homeaboutheading{
            font-size: 18px;
           
          }
       
        .homeaboutpara {
            font-size: 9.5px;
            line-height: 18px;
            margin-left: 35px;
            width: 280px;
           }
         
           .goalshomecard{
            flex-direction: column;
            margin-left: 32%;
        }
      #home_goals_heading{
         font-size:20px;
      }
      #picturehere{
          height: 28px;
          width: 28px; 
          margin-top:5px ;
          margin-left: 38%;           
      }
      #goalshomecards_heading{
      
       margin-top: 15px;
       font-size: 12px;
      }
      #goalshomecards_content{
          margin-top: 12px;
          text-align: center;
          font-size: 10px;
          
      }
      #goalshomecards1{
          width: 120px;
          height: 150px;
          border-radius: 10px;
          margin-left:0px ;
          border:1px solid white;
      }
      #goalshomecards2{
          width: 120px;
          height: 150px;
          border-radius: 10px;
          margin-left:0px ;
          margin-top: 10px;
          border:1px solid white;
      }
      
      #goalshomecards3{
          width: 120px;
          height: 150px;
          border-radius: 10px;
          margin-left:0px ;
          margin-top: 10px;
          border:1px solid white;
      }
      
      #goalshomecards4{
          width: 120px;
          height: 150px;
          border-radius: 10px;
          margin-left:0px ;
          margin-top: 10px;
          border:1px solid white;
      } 
    }


















    
@media only screen and (min-width: 375px) 
    and (max-width: 411px) {
                
        
        #homeaboutheading{
            font-size: 18px;
           
          }
       
        .homeaboutpara {
            font-size: 10px;
            line-height: 18px;
            margin-left: 40px;
            width: 290px;
           }
           .goalshomecard{
            flex-direction: column;
            margin-left: 32%;
        }
      #home_goals_heading{
         font-size:20px;
      }
      #picturehere{
          height: 28px;
          width: 28px; 
          margin-top:5px ;
          margin-left: 38%;           
      }
      #goalshomecards_heading{
      
       margin-top: 15px;
       font-size: 12px;
      }
      #goalshomecards_content{
          margin-top: 12px;
          text-align: center;
          font-size: 10px;
          
      }
      #goalshomecards1{
          width: 120px;
          height: 150px;
          border-radius: 10px;
          margin-left:0px ;
          border:1px solid white;
      }
      #goalshomecards2{
          width: 120px;
          height: 150px;
          border-radius: 10px;
          margin-left:0px ;
          margin-top: 10px;
          border:1px solid white;
      }
      
      #goalshomecards3{
          width: 120px;
          height: 150px;
          border-radius: 10px;
          margin-left:0px ;
          margin-top: 10px;
          border:1px solid white;
      }
      
      #goalshomecards4{
          width: 120px;
          height: 150px;
          border-radius: 10px;
          margin-left:0px ;
          margin-top: 10px;
          border:1px solid white;
      } 
    }

    












    

@media only screen and (min-width: 412px) 
and (max-width: 413px)


{
    #homeaboutheading{
        font-size: 18px;
       
      }
   
    .homeaboutpara {
        font-size: 10px;
        line-height: 18px;
            margin-left: 50px;
            width: 300px;
       }
    
       .goalshomecard{
        flex-direction: column;
        margin-left: 32%;
    }
  #home_goals_heading{
     font-size:20px;
  }
  #picturehere{
      height: 28px;
      width: 28px; 
      margin-top:5px ;
      margin-left: 38%;           
  }
  #goalshomecards_heading{
  
   margin-top: 15px;
   font-size: 12px;
  }
  #goalshomecards_content{
      margin-top: 12px;
      text-align: center;
      font-size: 10px;
      
  }
  #goalshomecards1{
      width: 120px;
      height: 150px;
      border-radius: 10px;
      margin-left:0px ;
      border:1px solid white;
  }
  #goalshomecards2{
      width: 120px;
      height: 150px;
      border-radius: 10px;
      margin-left:0px ;
      margin-top: 10px;
      border:1px solid white;
  }
  
  #goalshomecards3{
      width: 120px;
      height: 150px;
      border-radius: 10px;
      margin-left:0px ;
      margin-top: 10px;
      border:1px solid white;
  }
  
  #goalshomecards4{
      width: 120px;
      height: 150px;
      border-radius: 10px;
      margin-left:0px ;
      margin-top: 10px;
      border:1px solid white;
  } 
}  
@media only screen and (min-width: 414px) 
and (max-width: 449px)
{
 
    #homeaboutheading{
        font-size: 18px;
       
      }
   
    .homeaboutpara {
        font-size: 10px;
        line-height: 18px;
        margin-left: 50px;
        width: 305px;
       }
       .goalshomecard{
           display: grid;
           grid-template-columns: auto auto;
           grid-gap:10px 0px;
        margin-left: 15%; 
    }
  #home_goals_heading{
     font-size:20px;
  }
  #picturehere{
      height: 28px;
      width: 28px; 
      margin-top:5px ;
      margin-left: 38%;           
  }
  #goalshomecards_heading{
  
   margin-top: 15px;
   font-size: 12px;
  }
  #goalshomecards_content{
      margin-top: 12px;
      text-align: center;
      font-size: 10px;
      
  }
  #goalshomecards1{
      width: 120px;
      height: 150px;
      border-radius: 10px;
      margin-left:0px ;
      border:1px solid white;
  }
  #goalshomecards2{
      width: 120px;
      height: 150px;
      border-radius: 10px;
      margin-left:0px ;
      margin-top: 0px;
      border:1px solid white;
  }
  
  #goalshomecards3{
      width: 120px;
      height: 150px;
      border-radius: 10px;
      margin-left:0px ;
      margin-top: 0px;
      border:1px solid white;
  }
  
  #goalshomecards4{
      width: 120px;
      height: 150px;
      border-radius: 10px;
      margin-left:0px ;
      margin-top: 0px;
      border:1px solid white;
  } 
    
}   



    @media only screen and (min-width: 450px) 
    and (max-width: 550px) {

        #homeaboutheading{
            font-size: 18px;
           
          }
       
        .homeaboutpara {
            font-size: 12px;
            line-height: 20px;
            margin-left: 55px;
            width: 340px;
           
           }
           .goalshomecard{
            display: grid;
            grid-template-columns: auto auto;
            grid-gap:20px 0px;
         margin-left: 17%; 
     }
   #home_goals_heading{
      font-size:20px;
   }
   #picturehere{
       height: 28px;
       width: 28px; 
       margin-top:5px ;
       margin-left: 38%;           
   }
   #goalshomecards_heading{
   
    margin-top: 15px;
    font-size: 12px;
   }
   #goalshomecards_content{
       margin-top: 12px;
       text-align: center;
       font-size: 10px;
       
   }
   #goalshomecards1{
       width: 120px;
       height: 150px;
       border-radius: 10px;
       margin-left:0px ;
       border:1px solid white;
   }
   #goalshomecards2{
       width: 120px;
       height: 150px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1px solid white;
   }
   
   #goalshomecards3{
       width: 120px;
       height: 150px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1px solid white;
   }
   
   #goalshomecards4{
       width: 120px;
       height: 150px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1px solid white;
   } 
    } 
    

    @media only screen and (min-width: 551px) 
    and (max-width: 599px) {

        #homeaboutheading{
            font-size: 20px;
           
          }
       
        .homeaboutpara {
            font-size: 12px;
            line-height: 22px;
            margin-left: 85px;
            width: 370px;
           }
           .goalshomecard{
            display: grid;
            grid-template-columns: auto auto;
            grid-gap:20px 0px;
         margin-left: 17%; 
     }
   #home_goals_heading{
      font-size:20px;
   }
   #picturehere{
       height: 30px;
       width: 30px; 
       margin-top:8px ;
       margin-left: 38%;           
   }
   #goalshomecards_heading{
   
    margin-top: 12px;
    font-size: 15px;
   }
   #goalshomecards_content{
       margin-top: 12px;
       text-align: center;
       font-size: 12px;
       
   }
   #goalshomecards1{
       width: 135px;
       height: 170px;
       border-radius: 10px;
       margin-left:0px ;
       border:1.5px solid white;
   }
   #goalshomecards2{
       width: 135px;
       height: 170px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1.5px solid white;
   }
   
   #goalshomecards3{
       width: 135px;
       height: 170px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1.5px solid white;
   }
   
   #goalshomecards4{
       width: 135px;
       height: 170px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1.5px solid white;
   } 
    }    
    @media only screen and (min-width: 600px) 
    and (max-width: 617px) {

        #homeaboutheading{
            font-size: 20px;
           
          }
       
        .homeaboutpara {
            font-size: 12px;
            line-height: 22px;
            margin-left: 100px;
            width: 410px;
            
           }
           .goalshomecard{
            display: grid;
            grid-template-columns: auto auto;
            grid-gap:20px 0px;
         margin-left: 18%; 
     }
   #home_goals_heading{
      font-size:20px;
   }
   #picturehere{
       height: 30px;
       width: 30px; 
       margin-top:8px ;
       margin-left: 38%;           
   }
   #goalshomecards_heading{
   
    margin-top: 12px;
    font-size: 15px;
   }
   #goalshomecards_content{
       margin-top: 12px;
       text-align: center;
       font-size: 12px;
       
   }
   #goalshomecards1{
       width: 135px;
       height: 170px;
       border-radius: 10px;
       margin-left:0px ;
       border:1.5px solid white;
   }
   #goalshomecards2{
       width: 135px;
       height: 170px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1.5px solid white;
   }
   
   #goalshomecards3{
       width: 135px;
       height: 170px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1.5px solid white;
   }
   
   #goalshomecards4{
       width: 135px;
       height: 170px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1.5px solid white;
   } 


    } 
    
    @media only screen and (min-width: 618px) 
    and (max-width: 700px) {
        #homeaboutheading{
            font-size: 20px;
           
          }
       
        .homeaboutpara {
            font-size: 12px;
            line-height: 22px;
            margin-left: 100px;
            width: 420px;
           }
           .goalshomecard{
            display: grid;
            grid-template-columns: auto auto;
            grid-gap:20px 0px;
         margin-left: 19%; 
     }
   #home_goals_heading{
      font-size:20px;
   }
   #picturehere{
       height: 35px;
       width: 35px; 
       margin-top:8px ;
       margin-left: 38%;           
   }
   #goalshomecards_heading{
   
    margin-top: 12px;
    font-size: 15px;
   }
   #goalshomecards_content{
       margin-top: 12px;
       text-align: center;
       font-size: 12px;
       
   }
   #goalshomecards1{
       width: 140px;
       height: 180px;
       border-radius: 10px;
       margin-left:0px ;
       border:1.5px solid white;
   }
   #goalshomecards2{
       width: 140px;
       height: 180px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1.5px solid white;
   }
   
   #goalshomecards3{
       width: 140px;
       height: 180px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1.5px solid white;
   }
   
   #goalshomecards4{
       width: 140px;
       height: 180px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1.5px solid white;
   } 
    }



    @media only screen and (min-width: 701px) 
    and (max-width: 767px) {

        #homeaboutheading{
            font-size: 21px;
          }
        .homeaboutpara {
            
            font-size: 12px;
            line-height: 22px;
            margin-left: 155px;
            margin-top: -14px;
            width: 400px;
           }
           .goalshomecard{
            display: grid;
            grid-template-columns: auto auto;
            grid-gap:20px 0px;
         margin-left: 20%; 
     }
   #home_goals_heading{
      font-size:20px;
   }
   #picturehere{
       height: 35px;
       width: 35px; 
       margin-top:8px ;
       margin-left: 38%;           
   }
   #goalshomecards_heading{
   
    margin-top: 12px;
    font-size: 15px;
   }
   #goalshomecards_content{
       margin-top: 12px;
       text-align: center;
       font-size: 12px;
       
   }
   #goalshomecards1{
       width: 150px;
       height: 180px;
       border-radius: 10px;
       margin-left:0px ;
       border:1.5px solid white;
   }
   #goalshomecards2{
       width: 150px;
       height: 180px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1.5px solid white;
   }
   
   #goalshomecards3{
       width: 150px;
       height: 180px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1.5px solid white;
   }
   
   #goalshomecards4{
       width: 150px;
       height: 180px;
       border-radius: 10px;
       margin-left:0px ;
       margin-top: 0px;
       border:1.5px solid white;
   } 
        }


@media only screen and (min-width: 768px) 
and (max-width: 850px) { 

    #homeaboutheading{
        font-size: 21px;
      }
    .homeaboutpara {
        font-size: 12px;
        line-height: 25px;
        margin-top: -15px;
        margin-bottom: 25px;
       }
    .goalshomecard{
        display: flex;
        justify-content: space-evenly;
 }
#home_goals_heading{
  font-size:22px;
}
#picturehere{
   height: 35px;
   width: 35px; 
   margin-top:8px ;
   margin-left: 38%;           
}
#goalshomecards_heading{

margin-top: 12px;
font-size: 15px;
}
#goalshomecards_content{
   margin-top: 12px;
   text-align: center;
   font-size: 12px;
   
}
#goalshomecards1{
   width: 150px;
   height: 180px;
   border-radius: 10px;
   margin-left:0px ;
   border:1.5px solid white;
}
#goalshomecards2{
   width: 150px;
   height: 180px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:1.5px solid white;
}

#goalshomecards3{
   width: 150px;
   height: 180px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:1.5px solid white;
}

#goalshomecards4{
   width: 150px;
   height: 180px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:1.5px solid white;
} 

}


@media only screen and (min-width: 851px) and (max-width: 909px)
{
    #homeaboutheading{
        font-size:27px ; 
      
     }
     .homeaboutpara{
      font-size: 15.2px;
      line-height: 25px;
      margin-top: 15px;
      margin-bottom: 45px;
      
     }
    
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
 }
#home_goals_heading{
  font-size:22px;
}
#picturehere{
   height: 40px;
   width: 40px; 
   margin-top:8px ;
   margin-left: 37%;           
}
#goalshomecards_heading{

margin-top: 12px;
font-size: 15px;
}
#goalshomecards_content{
   margin-top: 12px;
   text-align: center;
   font-size: 13px;
   
}
#goalshomecards1{
   width: 160px;
   height: 190px;
   border-radius: 10px;
   margin-left:0px ;
   border:2px solid white;
}
#goalshomecards2{
   width: 160px;
   height: 190px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
}

#goalshomecards3{
   width: 160px;
   height: 190px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
}

#goalshomecards4{
   width: 160px;
   height: 190px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
} 

}



@media only screen and (min-width: 910px) and (max-width: 1023px){

                                         
    #homeaboutheading{
        font-size:27px ; 
        padding-top: 25px; 
     }
     .homeaboutpara{
      font-size: 16px;
      line-height: 30px;
      margin-top: 15px;
      margin-bottom: 45px;
     }
     
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
 }
#home_goals_heading{
  font-size:22px;
}
#picturehere{
   height: 40px;
   width: 40px; 
   margin-top:8px ;
   margin-left: 37%;           
}
#goalshomecards_heading{

margin-top: 12px;
font-size: 15px;
}
#goalshomecards_content{
   margin-top: 12px;
   text-align: center;
   font-size: 13px;
   
}
#goalshomecards1{
   width: 160px;
   height: 190px;
   border-radius: 10px;
   margin-left:0px ;
   border:2px solid white;
}
#goalshomecards2{
   width: 160px;
   height: 190px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
}

#goalshomecards3{
   width: 160px;
   height: 190px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
}

#goalshomecards4{
   width: 160px;
   height: 190px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
} 

}

@media only screen and (min-width: 1024px) and (max-width: 1100px){
    
    
    #homeaboutheading{
        font-size:28px ;  
        padding-top: 25px;
     }
     .homeaboutpara{
      font-size: 17px;
      line-height: 35px;
      margin-top: 15px;
      margin-bottom: 55px;
     }
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
        margin-left: 5%;
        margin-right:5%;
 }
#home_goals_heading{
  font-size:23px;
}
#picturehere{
   height: 45px;
   width: 45px; 
   margin-top:8px ;
   margin-left: 37%;           
}
#goalshomecards_heading{

margin-top: 12px;
font-size: 17px;
}
#goalshomecards_content{
   margin-top: 12px;
   text-align: center;
   font-size: 15px;
   
}
#goalshomecards1{
   width: 165px;
   height: 195px;
   border-radius: 10px;
   margin-left:0px ;
   border:2px solid white;
}
#goalshomecards2{
   width: 165px;
   height: 195px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
}

#goalshomecards3{
   width: 165px;
   height: 195px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
}

#goalshomecards4{
   width: 165px;
   height: 195px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
} 

}




@media only screen and (min-width: 1101px) and (max-width: 1200px){

    #homeaboutheading{
        font-size:28.5px ;  
        padding-top: 25px;
     }
     .homeaboutpara{
      font-size: 17.5px;
      line-height: 35px;
      margin-top: 15px;
      margin-bottom: 55px;
     }
    
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
        margin-left: 8%;
        margin-right:8%;
 }
#home_goals_heading{
  font-size:23px;
}
#picturehere{
   height: 45px;
   width: 45px; 
   margin-top:8px ;
   margin-left: 37%;           
}
#goalshomecards_heading{

margin-top: 12px;
font-size: 17px;
}
#goalshomecards_content{
   margin-top: 12px;
   text-align: center;
   font-size: 15px;
   
}
#goalshomecards1{
   width: 165px;
   height: 195px;
   border-radius: 10px;
   margin-left:0px ;
   border:2px solid white;
}
#goalshomecards2{
   width: 165px;
   height: 195px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
}

#goalshomecards3{
   width: 165px;
   height: 195px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
}

#goalshomecards4{
   width: 165px;
   height: 195px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
}  
 
  
}


@media only screen and (min-width: 1201px) and (max-width: 1300px) 
{
    #homeaboutheading{
        font-size:29px ;  
        padding-top: 45px;
     }
     .homeaboutpara{
      font-size: 18px;
      line-height: 35px;
      margin-top: 15px;
      margin-bottom: 55px;
     }
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
        margin-left: 5%;
        margin-right:5%;
 }
#home_goals_heading{
  font-size:23px;
}
#picturehere{
   height: 50px;
   width: 50px; 
   margin-top:8px ;
   margin-left: 35%;           
}
#goalshomecards_heading{

margin-top: 12px;
font-size: 18px;
}
#goalshomecards_content{
   margin-top: 12px;
   text-align: center;
   font-size: 16px;
   
}
#goalshomecards1{
   width: 175px;
   height: 215px;
   border-radius: 10px;
   margin-left:0px ;
   border:2px solid white;
}
#goalshomecards2{
   width: 175px;
   height: 215px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
}

#goalshomecards3{
   width: 175px;
   height: 215px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
}

#goalshomecards4{
   width: 175px;
   height: 215px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:2px solid white;
}  
 
}


@media only screen and (min-width: 1301px) 
and (max-width: 1359px){ 

    #homeaboutheading{
        font-size:29px ;  
        padding-top: 45px;
     }
     .homeaboutpara{
      font-size: 19px;
      line-height: 45px;
      margin-top: 15px;
      margin-bottom: 55px;
     }
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
        margin-left: 5%;
        margin-right:5%;
 }
#home_goals_heading{
  font-size:24px;
}
#picturehere{
   height: 60px;
   width: 60px; 
   margin-top:8px ;
   margin-left: 35%;           
}
#goalshomecards_heading{

margin-top: 5px;
font-size: 20px;
}
#goalshomecards_content{
   margin-top: 0px;
   text-align: center;
   font-size: 16.5px;
   
}
#goalshomecards1{
   width: 190px;
   height: 230px;
   border-radius: 10px;
   margin-left:0px ;
   border:3px solid white;
}
#goalshomecards2{
   width: 190px;
   height: 230px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards3{
   width: 190px;
   height: 230px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards4{
   width: 190px;
   height: 230px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}  
 

}


@media only screen and (min-width: 1360px) and (max-width: 1439px){
   
    #homeaboutheading{
        font-size:29.5px ;  
        padding-top: 55px;
     }
     .homeaboutpara{
      font-size: 19.5px;
      line-height: 45px;
      margin-top: 15px;
      margin-bottom: 55px;
     }
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
        margin-left: 5%;
        margin-right:5%;
 }
#home_goals_heading{
  font-size:25px;
}
#picturehere{
   height: 65px;
   width: 65px; 
   margin-top:10px ;
   margin-left: 35%;           
}
#goalshomecards_heading{

margin-top: 5px;
font-size: 21px;
}
#goalshomecards_content{
   margin-top: 0px;
   text-align: center;
   font-size: 18px;
   
}
#goalshomecards1{
   width: 205px;
   height: 240px;
   border-radius: 10px;
   margin-left:0px ;
   border:3px solid white;
}
#goalshomecards2{
   width: 205px;
   height: 240px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards3{
   width: 205px;
   height: 240px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards4{
   width: 205px;
   height: 240px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}  
}

@media only screen and (min-width: 1440px) 
and (max-width: 1520px){ 

  
    #homeaboutheading{
        font-size:30px ;  
        padding-top: 55px;
     }
     .homeaboutpara{
      font-size: 20px;
      line-height: 45px;
      margin-top: 15px;
      margin-bottom: 60px;
     }
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
        margin-left: 6%;
        margin-right:6%;
 }
#home_goals_heading{
  font-size:26px;
}
#picturehere{
   height: 65px;
   width: 65px; 
   margin-top:11px ;
   margin-left: 35%;           
}
#goalshomecards_heading{

margin-top: 10px;
font-size: 22px;
}
#goalshomecards_content{
   margin-top: 0px;
   text-align: center;
   font-size: 19px;
   
}
#goalshomecards1{
   width: 220px;
   height: 260px;
   border-radius: 10px;
   margin-left:0px ;
   border:3px solid white;
}
#goalshomecards2{
   width: 220px;
   height: 260px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards3{
   width: 220px;
   height: 260px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards4{
   width: 220px;
   height: 260px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}  
}











@media only screen and (min-width: 1521px) 
and (max-width: 1599px){

    #homeaboutheading{
        font-size:32px ;  
        padding-top: 55px;
     }
     .homeaboutpara{
      font-size: 22px;
      line-height: 45px;
      margin-top: 15px;
      margin-bottom: 60px;
     }
    
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
        margin-left: 6%;
        margin-right:6%;
 }
#home_goals_heading{
  font-size:26px;
}
#picturehere{
   height: 65px;
   width: 65px; 
   margin-top:11px ;
   margin-left: 35%;           
}
#goalshomecards_heading{

margin-top: 10px;
font-size: 23px;
}
#goalshomecards_content{
   margin-top: 0px;
   text-align: center;
   font-size: 20px;
   
}
#goalshomecards1{
   width: 230px;
   height: 270px;
   border-radius: 10px;
   margin-left:0px ;
   border:3px solid white;
}
#goalshomecards2{
   width: 230px;
   height: 270px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards3{
   width: 230px;
   height: 270px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards4{
   width: 230px;
   height: 270px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}      
}

@media only screen and (min-width: 1600px) 
and (max-width: 1680px){
     
    
    #homeaboutheading{
        font-size:32px ;  
        padding-top: 55px;
     }
     .homeaboutpara{
      font-size: 22px;
      line-height: 45px;
      margin-top: 15px;
      margin-bottom: 60px;
     }
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
        margin-left: 5%;
        margin-right:5%;
 }
#home_goals_heading{
  font-size:30px;
}
#picturehere{
   height: 65px;
   width: 65px; 
   margin-top:11px ;
   margin-left: 35%;           
}
#goalshomecards_heading{

margin-top: 10px;
font-size: 24px;
}
#goalshomecards_content{
   margin-top: 0px;
   text-align: center;
   font-size: 21px;
   
}
#goalshomecards1{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   border:3px solid white;
}
#goalshomecards2{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards3{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards4{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
} 
}


@media only screen and (min-width: 1680px) 
and (max-width: 1758px)
{
    #homeaboutheading{
        font-size:32px ;  
        padding-top: 55px;
     }
     .homeaboutpara{
      font-size: 22px;
      line-height: 45px;
      margin-top: 15px;
      margin-bottom: 60px;
     }
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
        margin-left: 6%;
        margin-right:6%;
 }
#home_goals_heading{
  font-size:30px;
}
#picturehere{
   height: 65px;
   width: 65px; 
   margin-top:11px ;
   margin-left: 35%;           
}
#goalshomecards_heading{

margin-top: 10px;
font-size: 24px;
}
#goalshomecards_content{
   margin-top: 0px;
   text-align: center;
   font-size: 21px;
   
}
#goalshomecards1{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   border:3px solid white;
}
#goalshomecards2{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards3{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards4{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
} 
}



@media only screen and (min-width: 1759px) 
and (max-width: 1840px){


    #homeaboutheading{
        font-size:32px ;  
        padding-top: 55px;
     }
     .homeaboutpara{
      font-size: 22px;
      line-height: 45px;
      margin-top: 15px;
      margin-bottom: 60px;
     }
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
        margin-left: 6%;
        margin-right:6%;
 }
#home_goals_heading{
  font-size:30px;
}
#picturehere{
   height: 65px;
   width: 65px; 
   margin-top:11px ;
   margin-left: 35%;           
}
#goalshomecards_heading{

margin-top: 10px;
font-size: 24px;
}
#goalshomecards_content{
   margin-top: 0px;
   text-align: center;
   font-size: 21px;
   
}
#goalshomecards1{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   border:3px solid white;
}
#goalshomecards2{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards3{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards4{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
} 
}

@media only screen and (min-width: 1841px) 
and (max-width: 1919px){
   

    #homeaboutheading{
        font-size:32px ;  
        padding-top: 55px;
     }
     .homeaboutpara{
      font-size: 22px;
      line-height: 45px;
      margin-top: 15px;
      margin-bottom: 60px;
     }
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
        margin-left: 7%;
        margin-right:7%;
 }
#home_goals_heading{
  font-size:30px;
}
#picturehere{
   height: 65px;
   width: 65px; 
   margin-top:11px ;
   margin-left: 35%;           
}
#goalshomecards_heading{

margin-top: 10px;
font-size: 24px;
}
#goalshomecards_content{
   margin-top: 0px;
   text-align: center;
   font-size: 21px;
   
}
#goalshomecards1{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   border:3px solid white;
}
#goalshomecards2{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards3{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards4{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
} 
}


@media only screen and (min-width: 1920px) 
{


    #homeaboutheading{
        font-size:32px ;  
        padding-top: 55px;
     }
     .homeaboutpara{
      font-size: 22px;
      line-height: 45px;
      margin-top: 15px;
      margin-bottom: 60px;
     }
    
     .goalshomecard{
        display: flex;
        justify-content: space-evenly;
        margin-left: 10%;
        margin-right:10%;
 }
#home_goals_heading{
  font-size:30px;
}
#picturehere{
   height: 65px;
   width: 65px; 
   margin-top:11px ;
   margin-left: 35%;           
}
#goalshomecards_heading{

margin-top: 10px;
font-size: 24px;
}
#goalshomecards_content{
   margin-top: 0px;
   text-align: center;
   font-size: 21px;
   
}
#goalshomecards1{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   border:3px solid white;
}
#goalshomecards2{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards3{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
}

#goalshomecards4{
   width: 240px;
   height: 280px;
   border-radius: 10px;
   margin-left:0px ;
   margin-top: 0px;
   border:3px solid white;
} 
}
