.slide-container {
  width: 100%;
  margin: auto; 
  
}

h3 {
  text-align: center; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 450px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}



@media only screen and (min-width: 320px) and (max-width: 374px) {
  .slide-container {
    height: 220px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 374px) and (max-width: 450px) {
  .slide-container {
    height: 270px;
  }
.each-slide {
   height: 250px;
}
}

@media only screen and (min-width: 450px) and (max-width: 550px) {
  .slide-container {
    height: 300px;
  }
.each-slide {
   height: 300px;
}
}

@media only screen and (min-width: 551px) and (max-width: 617px) {
  .slide-container {
    height: 300px;
  }
.each-slide {
   height: 300px;
}
}

@media only screen and (min-width: 618px) and (max-width: 700px) {
  .slide-container {
    height: 300px;
  }
.each-slide {
   height: 300px;
}
}

/*

@media only screen and (min-width: 701px) and (max-width: 767px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 851px) and (max-width: 909px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 910px) and (max-width: 1023px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 1101px) and (max-width: 1200px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 1301px) and (max-width: 1360px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 1361px) and (max-width: 1440px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 1441px) and (max-width: 1520px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 1521px) and (max-width: 1600px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 1601px) and (max-width: 1680px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 1680px) and (max-width: 1760px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 1760px) and (max-width: 1840px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 1840px) and (max-width: 1920px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

@media only screen and (min-width: 1920px) and (max-width: 2000px) {
  .slide-container {
    height: 200px;
  }
.each-slide {
   height: 200px;
}
}

*/