.program_main{
    margin:0px;
    padding: 0%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
#program_main_head{
    text-align: center;
    font-size: 30px;
    text-decoration: underline orangered;
}
.program_title{
    display: grid;
    grid-template-columns: auto auto;
    
    /* justify-content: center;
    align-items: center; */
}
#program1{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap:30px ;
    padding: 10px;
    color: #C1573A;
    height: 220px;
    background: #FFCFC2 0% 0% no-repeat padding-box;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
#program2{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap:30px ;
    padding: 10px;
    height: 220px;
    background: #ffffff 0% 0% no-repeat padding-box;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    }
    #program3{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:30px ;
        padding: 10px;
        height: 220px;
        background: #ffffff 0% 0% no-repeat padding-box;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        }
    #program4{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:30px ;
        color: #C1573A;
        padding: 10px;
        height: 220px;
        background: #FFCFC2 0% 0% no-repeat padding-box;
        align-items: center;
        justify-content: space-evenly;
        box-sizing: border-box;
    }
#program_img1{
    width: 250px;
}
#program_title{
   
    /* background-color: red; */
}
#program_para{
    font-size:12px ;
    
}
@media only screen and (min-width:320px)
{
    #program_main_head{
        text-align: center;
        font-size: 20px;
        text-decoration: underline orangered;
    }
    .program_title{
        display: grid;
        grid-template-columns: auto ;
        
        /* justify-content: center;
        align-items: center; */
    }
    #program1{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 140px;
       
    }
    #program2{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 140px;
        }
        #program3{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
            height: 140px;
            order: 4;
            }
        #program4{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
        height: 140px;
        }
    #program_img1{
        width: 110px;
        margin-left:10%;
    }
    #program_base{
        
    margin-left: 0%;
        
    }
    #program_title{
        width: 80%;
        font-size: 11px;
        /* background-color: red; */
    }
    #program_para{
        width: 90%;
        font-size:10px;
        /* background: red; */
        
    }
}
@media only screen and (min-width:400px)
{
    #program_main_head{
        text-align: center;
        font-size: 20px;
        text-decoration: underline orangered;
    }
    .program_title{
        display: grid;
        grid-template-columns: auto ;
        
        /* justify-content: center;
        align-items: center; */
    }
    #program1{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 140px;
       
    }
    #program2{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 140px;
        }
        #program3{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
            height: 140px;
            order: 4;
            }
        #program4{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
        height: 140px;
        }
    #program_img1{
        width: 120px;
        margin-left:15%;
    }
    #program_base{
        
    margin-left: 5%;
        
    }
    #program_title{
        width: 80%;
        font-size: 13px;
        /* background-color: red; */
    }
    #program_para{
        width: 90%;
        font-size:11px;
        /* background: red; */
        
    }
}
@media only screen and (min-width:500px)
{
    #program_main_head{
        text-align: center;
        font-size: 20px;
        text-decoration: underline orangered;
    }
    .program_title{
        display: grid;
        grid-template-columns: auto ;
        
        /* justify-content: center;
        align-items: center; */
    }
    #program1{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 140px;
       
    }
    #program2{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 140px;
        }
        #program3{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
            height: 140px;
            order: 4;
            }
        #program4{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
        height: 140px;
        }
    #program_img1{
        width: 130px;
        margin-left:18%;
    }
    #program_base{
        
    margin-left: 5%;
        
    }
    #program_title{
        width: 80%;
        font-size: 15px;
        /* background-color: red; */
    }
    #program_para{
        width: 90%;
        font-size:13px;
        /* background: red; */
        
    }
}
@media only screen and (min-width:600px)
{
    #program_main_head{
        text-align: center;
        font-size: 20px;
        text-decoration: underline orangered;
    }
    .program_title{
        display: grid;
        grid-template-columns: auto ;
        
        /* justify-content: center;
        align-items: center; */
    }
    #program1{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 160px;
       
    }
    #program2{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 160px;
        }
        #program3{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
            height: 160px;
            order: 4;
            }
        #program4{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
        height: 160px;
        }
    #program_img1{
        width: 150px;
        margin-left:35%;
    }
    #program_base{
        
    margin-left: 10%;
        
    }
    #program_title{
        width: 80%;
        font-size: 15px;
        /* background-color: red; */
    }
    #program_para{
        width: 80%;
        font-size:13px;
        /* background: red; */
        
    }
}
@media only screen and (min-width:700px)
{
    #program_main_head{
        text-align: center;
        font-size: 24px;
        text-decoration: underline orangered;
    }
    .program_title{
        display: grid;
        grid-template-columns: auto ;
        
        /* justify-content: center;
        align-items: center; */
    }
    #program1{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 160px;
       
    }
    #program2{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 160px;
        }
        #program3{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
            height: 160px;
            order: 4;
            }
        #program4{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
        height: 160px;
        }
    #program_img1{
        width: 180px;
        margin-left:30%;
    }
    #program_base{
        
    margin-left: 15%;
        
    }
    #program_title{
        width: 80%;
        font-size: 15px;
        /* background-color: red; */
    }
    #program_para{
        width: 80%;
        font-size:13px;
        /* background: red; */
        
    }
}
@media only screen and (min-width:768px)
{
    #program_main_head{
        text-align: center;
        font-size: 24px;
        text-decoration: underline orangered;
    }
    .program_title{
        display: grid;
        grid-template-columns: auto auto;
        
        /* justify-content: center;
        align-items: center; */
    }
    #program1{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 160px;
        order: 1;
       
    }
    #program2{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 160px;
        order: 2;
        }
        #program3{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
        height: 160px;
        order: 3;
            }
        #program4{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
        height: 160px;
        order: 4;
        }
    #program_img1{
        width: 100px;
        margin-left:10%;
    }
    #program_base{
        
    margin-left: 0%;
        
    }
    #program_title{
        width: 80%;
        font-size: 15px;
        /* background-color: red; */
    }
    #program_para{
        width: 100%;
        font-size:13px;
        /* background: red; */
        
    }
}
@media only screen and (min-width:1001px)
{
    #program_main_head{
        text-align: center;
        font-size: 24px;
        text-decoration: underline orangered;
    }
    .program_title{
        display: grid;
        grid-template-columns: auto auto;
        
        /* justify-content: center;
        align-items: center; */
    }
    #program1{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 160px;
        order: 1;
       
    }
    #program2{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        grid-row-gap:0px ;
        padding: 0px;
        height: 160px;
        order: 2;
        }
        #program3{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
        height: 160px;
        order: 3;
            }
        #program4{
            display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:5%;
        padding: 0px;
        height: 160px;
        order: 4;
        }
    #program_img1{
        width: 100px;
        margin-left:10%;
    }
    #program_base{
        
    margin-left: 0%;
        
    }
    #program_title{
        width: 80%;
        font-size: 15px;
        /* background-color: red; */
    }
    #program_para{
        width: 100%;
        font-size:13px;
        /* background: red; */
        
    }
}