.program_main{
    margin:0px;
    padding: 0%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
#program_main_head{
    text-align: center;
    font-size: 30px;
    text-decoration: underline orangered;
}
.program_title{
    display: grid;
    grid-template-columns: auto ;
    
}
#program1{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap:80px ;
    padding: 10px;
    color: #C1573A;
    height: 220px;
    background: #FFCFC2 0% 0% no-repeat padding-box;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
#program2{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap:80px ;
    padding: 10px;
    color: #000000;
    height: 220px;
    background: #ffffff 0% 0% no-repeat padding-box;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

   #program_base{
       width:300px;
   }
#program_img1{
    width: 250px;
}
#program_title{
   
    /* background-color: red; */
}
#program_para{
    font-size:14px ;
    
}
@media only screen and (max-width:650px){
    #program_main_head{
        font-size: 22px; 
    }
    #program1{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:30px ;
        padding: 10px; 
        height: 180px; 
    }
    #program2{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:30px ;
        padding: 10px;
        height: 180px;
    }
    
       #program_base{
           width:250px;
       }
    #program_img1{
        width: 150px;
    }
    #program_title{
       
    
    }
    #program_para{
        font-size:14px ;
        
    }
}
@media only screen and (max-width:450px){
    #program_main_head{
        font-size: 22px; 
    }
    #program1{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:15px ;
        padding: 10px; 
        height: 130px; 
    }
    #program2{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap:15px ;
        padding: 10px;
        height: 130px;
    }
    
       #program_base{
           width:180px;
           
       }
    #program_img1{
        width: 100px;
    }
    #program_title{
        font-size:14px ;
    
    }
    #program_para{
        font-size:10px ;
        
    }
}