#mycourses_card {
    display: flex;
    width: 408px;
    height:128px;
    background: transparent linear-gradient(107deg, #2D2D2D 0%, #151314 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 2px 6px #00000029;
    opacity: 1;
    color: white;
    margin-left: 102px;
    margin-top: 40px;
    border-bottom: 2px solid orangered;
}

.container_mycourse {
    display: flex;
    flex-wrap: wrap;
}

#mycourses_image_coming {
    width: 125px;
    color: white;
    
}

#mycourses_bar {
    height: 52px;
    width: 52px;
    margin-top: 27px;
    margin-left: 20px;
}

#mycourses_contentsecond {
    display: flex;
}

#mycourses_start {
   
    font-size: 16px;
    color: #FFDB00;
    opacity: 1;
    margin-left: 104px;
    margin-top: 55px;
}

#mycourses_coursename {
    margin-left: 19px;
    font-size: 16px;
    margin-top: 10px;
}

@media only screen and (min-width: 320px) 
and (max-width: 359px) 
  {
    
    #mycourses_card {
        display: flex;
        width: 247px;
        height:80px;
        background: transparent linear-gradient(107deg, #2D2D2D 0%, #151314 100%) 0% 0% no-repeat padding-box;
        box-shadow: 3px 2px 6px #00000029;
        opacity: 1;
        color: white;
        margin-left: -16px;
        margin-top: 33px;
        border-bottom: 2px solid orangered;
    }
    
    .container_mycourse {
        display: flex;
        flex-wrap: wrap;
    }
    
    #mycourses_image_coming {
        width: 77px;
        
        
        
    }
    
    #mycourses_bar {
        height: 28px;
        width: 28px;
        margin-top: 12px;
        margin-left: 18px;
    }
    
    #mycourses_contentsecond {
        display: flex;
    }
    
    #mycourses_start {
       
        font-size: 12px;
        color: #FFDB00;
        opacity: 1;
        margin-left: 27px;
        margin-top: 19px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 14px;
        margin-top: 10px;
    }
  }

  @media only screen and (min-width: 360px) 
  and (max-width: 374px) 
    {
        #mycourses_card {
            display: flex;
            width: 247px;
            height:80px;
            margin-left: -5px;
            margin-top: 33px;
        }
        
        .container_mycourse {
            display: flex;
            flex-wrap: wrap;
        }
        
        #mycourses_image_coming {
            width: 77px;
            
            
            
        }
        
        #mycourses_bar {
            height: 28px;
            width: 28px;
            margin-top: 12px;
            margin-left: 18px;
        }
        
        #mycourses_contentsecond {
            display: flex;
        }
        
        #mycourses_start {
           
            font-size: 12px;
            color: #FFDB00;
            opacity: 1;
            margin-left: 27px;
            margin-top: 19px;
        }
        
        #mycourses_coursename {
            margin-left: 19px;
            font-size: 14px;
            margin-top: 10px;
        }
      
  }

  @media only screen and (min-width: 375px) 
  and (max-width: 411px) 
    {
       
        #mycourses_card {
            display: flex;
            width: 247px;
            height:80px;
            margin-left: 6px;
            margin-top: 33px;
        }
        
        .container_mycourse {
            display: flex;
            flex-wrap: wrap;
        }
        
        #mycourses_image_coming {
            width: 77px;
            
            
            
        }
        
        #mycourses_bar {
            height: 29px;
            width: 29px;
            margin-top: 12px;
            margin-left: 20px;
        }
        
        #mycourses_contentsecond {
            display: flex;
        }
        
        #mycourses_start {
           
            font-size: 13px;
            color: #FFDB00;
            opacity: 1;
            margin-left: 26px;
            margin-top: 19px;
        }
        
        #mycourses_coursename {
            margin-left: 19px;
            font-size: 15px;
            margin-top: 10px;
        }
      
       
        
    }
    

    @media only screen and (min-width: 412px) 
    and (max-width: 413px) 
      {
        
        #mycourses_card {
            display: flex;
            width: 267px;
            height:90px;
            margin-left: 6px;
            margin-top: 33px;
        }
        
        .container_mycourse {
            display: flex;
            flex-wrap: wrap;
        }
        
        #mycourses_image_coming {
            width: 86px;
            
            
            
        }
        
        #mycourses_bar {
            height: 29px;
            width: 29px;
            margin-top: 12px;
            margin-left: 20px;
        }
        
        #mycourses_contentsecond {
            display: flex;
        }
        
        #mycourses_start {
           
            font-size: 13px;
            color: #FFDB00;
            opacity: 1;
            margin-left: 26px;
            margin-top: 19px;
        }
        
        #mycourses_coursename {
            margin-left: 19px;
            font-size: 15px;
            margin-top: 10px;
        }
      
}
@media only screen and (min-width: 414px) 
and (max-width: 449px) 
  {


    #mycourses_card {
        display: flex;
        width: 267px;
        height:90px;
        margin-left: 18px;
        margin-top: 33px;
    }
    
    .container_mycourse {
        display: flex;
        flex-wrap: wrap;
    }
    
    #mycourses_image_coming {
        width: 86px;
        
        
        
    }
    
    #mycourses_bar {
        height: 29px;
        width: 29px;
        margin-top: 12px;
        margin-left: 20px;
    }
    
    #mycourses_contentsecond {
        display: flex;
    }
    
    #mycourses_start {
       
        font-size: 13px;
        color: #FFDB00;
        opacity: 1;
        margin-left: 27px;
        margin-top: 19px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 15px;
        margin-top: 10px;
    }
  }
   

  @media only screen and (min-width: 450px) 
and (max-width: 550px) 
  {


    #mycourses_card {
        display: flex;
        width: 297px;
        height:100px;
        margin-left: 38px;
        margin-top: 33px;
    }
    
    .container_mycourse {
        display: flex;
        flex-wrap: wrap;
    }
    
    #mycourses_image_coming {
        width: 96px;
        
        
        
    }
    
    #mycourses_bar {
        height: 32px;
        width: 32px;
        margin-top: 16px;
        margin-left: 25px;
    }
    
    #mycourses_contentsecond {
        display: flex;
    }
    
    #mycourses_start {
       
        font-size: 14px;
        color: #FFDB00;
        opacity: 1;
        margin-left: 26px;
        margin-top: 22px;
    }
    
    #mycourses_coursename {
        margin-left: 25px;
        font-size: 16px;
        margin-top: 10px;
    }
  }
  
  @media only screen and (min-width: 551px) 
and (max-width: 599px) 
  {

  
    #mycourses_card {
        display: flex;
        width: 350px;
        height:120px;
        margin-left: 55px;
        margin-top: 33px;
    }
    
    .container_mycourse {
        display: flex;
        flex-wrap: wrap;
    }
    
    #mycourses_image_coming {
        width: 116px;
        
        
        
    }
    
    #mycourses_bar {
        height: 40px;
        width: 40px;
        margin-top: 22px;
        margin-left: 20px;
    }
    
    #mycourses_contentsecond {
        display: flex;
    }
    
    #mycourses_start {
       
        font-size: 18px;
        color: #FFDB00;
        opacity: 1;
        margin-left: 44px;
        margin-top: 34px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 22px;
        margin-top: 10px;
    }
    
  }

  @media only screen and (min-width: 600px) 
  and (max-width: 616px) 
    {

        
    #mycourses_card {
        display: flex;
        width: 350px;
        height:120px;
        margin-left: 55px;
        margin-top: 33px;
    }
    
    .container_mycourse {
        display: flex;
        flex-wrap: wrap;
    }
    
    #mycourses_image_coming {
        width: 116px;
        
        
        
    }
    
    #mycourses_bar {
        height: 40px;
        width: 40px;
        margin-top: 22px;
        margin-left: 20px;
    }
    
    #mycourses_contentsecond {
        display: flex;
    }
    
    #mycourses_start {
       
        font-size: 18px;
        color: #FFDB00;
        opacity: 1;
        margin-left: 38px;
        margin-top: 34px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 22px;
        margin-top: 10px;
    }

    }
  @media only screen and (min-width: 618px) 
and (max-width: 700px) 
{
    
    #mycourses_card {
        display: flex;
        width: 370px;
        height:120px;
        margin-left: 55px;
        margin-top: 33px;
    }
    
    .container_mycourse {
        display: flex;
        flex-wrap: wrap;
    }
    
    #mycourses_image_coming {
        width: 116px;
        
        
        
    }
    
    #mycourses_bar {
        height: 40px;
        width: 40px;
        margin-top: 22px;
        margin-left: 20px;
    }
    
    #mycourses_contentsecond {
        display: flex;
    }
    
    #mycourses_start {
       
        font-size: 18px;
        color: #FFDB00;
        opacity: 1;
        margin-left: 48px;
        margin-top: 34px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 22px;
        margin-top: 10px;
    }
    
}

@media only screen and (min-width: 701px) 
and (max-width: 767px) 
  {
    
    #mycourses_card {
        width: 408px;
        height:128px;
        margin-left: 72px;
        margin-top: 40px;
        
    }
    
   
    
    #mycourses_image_coming {
        width: 125px;  
        
    }
    
    #mycourses_bar {
        height: 52px;
        width: 52px;
        margin-top: 27px;
        margin-left: 20px;
    }
 
    #mycourses_start {
       
        margin-left: 104px;
        margin-top: 55px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 16px;
        margin-top: 10px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 799px) 
{
      
    #mycourses_card {
        width: 408px;
        height:128px;
        margin-left: 102px;
        margin-top: 40px;
        
    }
    
   
    
    #mycourses_image_coming {
        width: 125px;  
        
    }
    
    #mycourses_bar {
        height: 52px;
        width: 52px;
        margin-top: 27px;
        margin-left: 20px;
    }
 
    #mycourses_start {
       
        margin-left: 104px;
        margin-top: 55px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 16px;
        margin-top: 10px;
    }


}


@media only screen and (min-width: 800px) and (max-width: 850px) 
{    #mycourses_card {
    width: 408px;
    height:128px;
    margin-left: 132px;
    margin-top: 40px;
    
}



#mycourses_image_coming {
    width: 125px;  
    
}

#mycourses_bar {
    height: 52px;
    width: 52px;
    margin-top: 27px;
    margin-left: 20px;
}

#mycourses_start {
   
    margin-left: 104px;
    margin-top: 55px;
}

#mycourses_coursename {
    margin-left: 19px;
    font-size: 16px;
    margin-top: 10px;
}


   
}
    


    @media only screen and (min-width: 851px) and (max-width: 909px)
     {
   
        #mycourses_card {
            width: 408px;
            height:128px;
            margin-left: 152px;
            margin-top: 40px;
            
        }
        
       
        
        #mycourses_image_coming {
            width: 125px;  
            
        }
        
        #mycourses_bar {
            height: 52px;
            width: 52px;
            margin-top: 27px;
            margin-left: 20px;
        }
     
        #mycourses_start {
           
            margin-left: 104px;
            margin-top: 55px;
        }
        
        #mycourses_coursename {
            margin-left: 19px;
            font-size: 16px;
            margin-top: 10px;
        }
    
   
 }
 
 @media only screen and (min-width: 910px) and (max-width: 1023px) {

  
    #mycourses_card {
        width: 390px;
        height:128px;
        margin-left: -10px;
        margin-right: 14px;
        margin-top: 40px;
        
        
    }
    
   
    
    #mycourses_image_coming {
        width: 125px;  
        
    }
    
    #mycourses_bar {
        height: 52px;
        width: 52px;
        margin-top: 27px;
        margin-left: 20px;
    }
 
    #mycourses_start {
       
        margin-left: 74px;
        margin-top: 55px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 16px;
        margin-top: 10px;
    }
    
   
      

}


@media only screen and (min-width: 1024px) and (max-width: 1100px) {

   
    #mycourses_card {
        width: 408px;
        height:128px;
        margin-left: 32px;
        margin-top: 40px;
        
    }
    
   
    
    #mycourses_image_coming {
        width: 125px;  
        
    }
    
    #mycourses_bar {
        height: 52px;
        width: 52px;
        margin-top: 27px;
        margin-left: 20px;
    }
 
    #mycourses_start {
       
        margin-left: 104px;
        margin-top: 55px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 16px;
        margin-top: 10px;
    }
    
}


@media only screen and (min-width: 1101px) and (max-width: 1200px) {

    #mycourses_card {
        width: 408px;
        height:128px;
        margin-left: 52px;
        margin-top: 40px;
        
    }
    
   
    
    #mycourses_image_coming {
        width: 125px;  
        
    }
    
    #mycourses_bar {
        height: 52px;
        width: 52px;
        margin-top: 27px;
        margin-left: 20px;
    }
 
    #mycourses_start {
       
        margin-left: 104px;
        margin-top: 55px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 16px;
        margin-top: 10px;
    }

}


@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  
    #mycourses_card {
        width: 408px;
        height:128px;
        margin-left: 102px;
        margin-top: 40px;
        
    }
    
   
    
    #mycourses_image_coming {
        width: 125px;  
        
    }
    
    #mycourses_bar {
        height: 52px;
        width: 52px;
        margin-top: 27px;
        margin-left: 20px;
    }
 
    #mycourses_start {
       
        margin-left: 104px;
        margin-top: 55px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 16px;
        margin-top: 10px;
    }
}


@media only screen and (min-width: 1301px) 
and (max-width: 1359px)
  {

    #mycourses_card {
        width: 408px;
        height:128px;
        margin-left: 102px;
        margin-top: 40px;
        
    }
    
   
    
    #mycourses_image_coming {
        width: 125px;  
        
    }
    
    #mycourses_bar {
        height: 52px;
        width: 52px;
        margin-top: 27px;
        margin-left: 20px;
    }
 
    #mycourses_start {
       
        margin-left: 104px;
        margin-top: 55px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 16px;
        margin-top: 10px;
    }
   
}

@media only screen and (min-width: 1360px) and (max-width: 1439px)
 {

    #mycourses_card {
        width: 408px;
        height:128px;
        margin-left: 5px;
        margin-top: 40px;
        
    }
    
   
    
    #mycourses_image_coming {
        width: 125px;  
        
    }
    
    #mycourses_bar {
        height: 52px;
        width: 52px;
        margin-top: 27px;
        margin-left: 20px;
    }
 
    #mycourses_start {
       
        margin-left: 104px;
        margin-top: 55px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 16px;
        margin-top: 10px;
    }
   
}

  @media only screen and (min-width: 1440px) 
and (max-width: 1520px)
  {

    #mycourses_card {
        width: 408px;
        height:128px;
        margin-left: 22px;
        margin-top: 40px;
        
    }
    
   
    
    #mycourses_image_coming {
        width: 125px;  
        
    }
    
    #mycourses_bar {
        height: 52px;
        width: 52px;
        margin-top: 27px;
        margin-left: 20px;
    }
 
    #mycourses_start {
       
        margin-left: 104px;
        margin-top: 55px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 16px;
        margin-top: 10px;
    }
  
  }
  @media only screen and (min-width: 1521px) 
and (max-width: 1599px)
  {

    #mycourses_card {
        width: 408px;
        height:128px;
        margin-left: 32px;
        margin-top: 40px;
        
    }
    
   
    
    #mycourses_image_coming {
        width: 125px;  
        
    }
    
    #mycourses_bar {
        height: 52px;
        width: 52px;
        margin-top: 27px;
        margin-left: 20px;
    }
 
    #mycourses_start {
       
        margin-left: 104px;
        margin-top: 55px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 16px;
        margin-top: 10px;
    }
  
  }

 
    @media only screen and (min-width: 1600px) 
    and (max-width: 1679px)
      {
    
        #mycourses_card {
            width: 408px;
            height:128px;
            margin-left: 52px;
            margin-top: 40px;
            
        }
        
       
        
        #mycourses_image_coming {
            width: 125px;  
            
        }
        
        #mycourses_bar {
            height: 52px;
            width: 52px;
            margin-top: 27px;
            margin-left: 20px;
        }
     
        #mycourses_start {
           
            margin-left: 104px;
            margin-top: 55px;
        }
        
        #mycourses_coursename {
            margin-left: 19px;
            font-size: 16px;
            margin-top: 10px;
        }
       
      
      }
    @media only screen and (min-width: 1680px) 
    and (max-width: 1758px)
      {

        #mycourses_card {
            width: 408px;
            height:128px;
            margin-left: 72px;
            margin-top: 40px;
            
        }
        
       
        
        #mycourses_image_coming {
            width: 125px;  
            
        }
        
        #mycourses_bar {
            height: 52px;
            width: 52px;
            margin-top: 27px;
            margin-left: 20px;
        }
     
        #mycourses_start {
           
            margin-left: 104px;
            margin-top: 55px;
        }
        
        #mycourses_coursename {
            margin-left: 19px;
            font-size: 16px;
            margin-top: 10px;
        }

      }
  @media only screen and (min-width: 1759px) 
and (max-width: 1840px)
  {
    #mycourses_card {
        width: 408px;
        height:128px;
        margin-left: 92px;
        margin-top: 40px;
        
    }
    
   
    
    #mycourses_image_coming {
        width: 125px;  
        
    }
    
    #mycourses_bar {
        height: 52px;
        width: 52px;
        margin-top: 27px;
        margin-left: 20px;
    }
 
    #mycourses_start {
       
        margin-left: 104px;
        margin-top: 55px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 16px;
        margin-top: 10px;
    }
  
   
    
  }
  @media only screen and (min-width: 1841px) 
and (max-width: 1919px)
  {
    #mycourses_card {
        width: 408px;
        height:128px;
        margin-left: 92px;
        margin-top: 40px;
        
    }
    
   
    
    #mycourses_image_coming {
        width: 125px;  
        
    }
    
    #mycourses_bar {
        height: 52px;
        width: 52px;
        margin-top: 27px;
        margin-left: 20px;
    }
 
    #mycourses_start {
       
        margin-left: 104px;
        margin-top: 55px;
    }
    
    #mycourses_coursename {
        margin-left: 19px;
        font-size: 16px;
        margin-top: 10px;
    }
  
 
  
  }
  @media only screen and (min-width: 1920px) 
  and (max-width: 2000px)
    {
  
        #mycourses_card {
            width: 408px;
            height:128px;
            margin-left: 142px;
            margin-top: 40px;
            
        }
        
       
        
        #mycourses_image_coming {
            width: 125px;  
            
        }
        
        #mycourses_bar {
            height: 52px;
            width: 52px;
            margin-top: 27px;
            margin-left: 20px;
        }
     
        #mycourses_start {
           
            margin-left: 104px;
            margin-top: 55px;
        }
        
        #mycourses_coursename {
            margin-left: 19px;
            font-size: 16px;
            margin-top: 10px;
        }
      
       
  } 