#courseintro1_main{
    border: 2px solid black;
    display: flex;
    height: 300px;
    width: 1500px;
    background: transparent linear-gradient(255deg, #2D2D2D 0%, #151314 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 10px #000000
}
#courseintro1_left{

}
#courseintro1_right{
    margin-left: -250px;
    font-size: 10px;
    width: 420px;
    height: 230px;
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 2px;
    margin-top: 20px;
    background: transparent linear-gradient(236deg, #2D2D2D 0%, #151314 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #000000FC;
    border-radius: 11px;
    opacity: 1;
}