#intern_concept_main{
  background-color: white;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-left: 10%;
  margin-top: 20px;
}



.concept_cover_button{
  width: 500px;
  height: 35px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 650;
  text-align: left;
  outline: none;
  padding-bottom: 5px;
  padding-left: 20px;
  border-style: none;
  background-color: #CCDFFF ;

}

.concept_image{
  width: 20px;
 
margin-left:255px;
  height: 20px;
}

.concept_menu{
  width: 500px;
  padding-top: 2px;
  padding-left: 10px;
  outline: none;
}
