#internhomebasebackground{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
   }
#interncardbase{
    background-color: white;
    border-radius: 15px;
    width: 240px;
}
#image_intern_home{
     width:100%;
     border-radius: 15px 15px 0px 0px;
}
#intern_home_heading{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}
#internHome_button{
    width: 100% ;
    height: 40px;
    border-radius: 0px 0px 15px 15px ;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background: transparent linear-gradient(270deg, #BD3F32 0%, #D4420C 100%);
    margin-top: 20px;
}

#internship_home_head{
    text-align: center;
    color: #faee1c;
    font-size: 40px;
    font-weight: bolder;
    margin-top:0px;
   
}
@media only screen and (max-width:1000px){
    #internhomebasebackground{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 30px;
        justify-content: center;
        align-items: center;
       }
}
@media only screen and (max-width:800px){
    #internhomebasebackground{
        grid-gap: 18px;
       }
    #interncardbase{
        width: 200px;
    }
    #intern_home_heading{
        font-size: 17px;
    }
    #internHome_button{
        height: 35px;
        font-size: 17px;   
    }
    #internship_home_head{
        font-size: 30px;
    }
}
@media only screen and (max-width:650px){
    #internhomebasebackground{
        grid-gap: 15px;
       }
    #interncardbase{
        width: 150px;
    }
    #intern_home_heading{
        font-size: 17px;
    }
    #internHome_button{
        height: 35px;
        font-size: 15px;   
    }
    #internship_home_head{
        font-size: 25px;
    }
}
@media only screen and (max-width:500px){
    #internhomebasebackground{
        grid-gap: 15px;
       }
    #interncardbase{
        width: 118px;
    }
    #intern_home_heading{
        margin-top: 10px;
        font-size: 12px;
    }
    #internHome_button{
        margin-top:5px;
        height: 35px;
        font-size: 13px;   
    }
    #internship_home_head{
        font-size: 22px;
    }
}
@media only screen and (max-width:400px){
    #internhomebasebackground{
        grid-template-columns: auto;
        grid-gap: 15px;
       }
    #interncardbase{
        width: 130px;
    }
    #intern_home_heading{
        margin-top: 10px;
        font-size: 13px;
    }
    #internHome_button{
        margin-top:8px;
        height: 25px;
        font-size: 13px;   
    }
    #internship_home_head{
        font-size: 20px;
    }
}
























 