.accountboard {
    background-image: url("1024.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 800px;
        height: 1420px;
    }
}

@media only screen and (min-width: 374px) and (max-width: 450px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 800px;
        height: 1420px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 550px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 800px;
        height: 1420px;
    }
}

@media only screen and (min-width: 551px) and (max-width: 617px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 800px;
        height: 1420px;
    }
}

@media only screen and (min-width: 618px) and (max-width: 700px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 800px;
        height: 1420px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 767px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 800px;
        height: 1420px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 1000px;
         height: 1420px;
    }
}

@media only screen and (min-width: 851px) and (max-width: 909px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 1000px;
        height: 1420px;
    }
}

@media only screen and (min-width: 910px) and (max-width: 1023px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 1200px;
        height: 1420px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 1200px;
        height: 1420px;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1200px) {
    .accountboard {
        background-image: url("1024.jpg");
         width: 100%;
         height: 1420px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 100%;
        height: 1420px;
    }
}

@media only screen and (min-width: 1301px) and (max-width: 1360px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 100%;
        height: 1440px;
    }
}

@media only screen and (min-width: 1361px) and (max-width: 1440px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 100%;
        height: 1440px;
    }
}


@media only screen and (min-width: 1441px) and (max-width: 1520px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 100%;
        height: 1440px;
    }
}

@media only screen and (min-width: 1521px) and (max-width: 1600px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 100%;
        height: 1440px;
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1680px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 100%;
        height: 1440px;
    }
}

@media only screen and (min-width: 1680px) and (max-width: 1760px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 100%;
        height: 1440px;
    }
}

@media only screen and (min-width: 1760px) and (max-width: 1840px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 100%;
        height: 1440px;
    }
}

@media only screen and (min-width: 1840px) and (max-width: 1920px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 100%;
        height: 1440px;
    }
}

@media only screen and (min-width: 1920px) and (max-width: 2000px) {
    .accountboard {
        background-image: url("1024.jpg");
        width: 100%;
        height: 1440px;
    }
}