#tablealign{
    margin-top: 50px;
    margin-left:240px;
}
.icons{
    background: transparent linear-gradient(109deg, #FF3800 0%, #EBDC12 100%) 0% 0% no-repeat padding-box;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.icons1{
    background: transparent linear-gradient(254deg, #FF3800 0%, #EBDC12 100%) 0% 0% no-repeat padding-box;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
@media only screen and (min-width:320px) 
and (max-width:374px){
    #tablealign{
        margin-top: 120px;
        margin-left:40px;
    }
    .icons{
        padding: 5px 12px;
        display: inline-block;
        cursor: pointer;
    }
    .icons1{
        
        padding: 5px 5px;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    }  
}
@media only screen and (min-width: 374px) 
and (max-width: 450px){
    
    #tablealign{
        margin-top: 120px;
        margin-left:40px;
    }
    .icons{
        padding: 5px 12px;
        display: inline-block;
        cursor: pointer;
    }
    .icons1{
        
        padding: 5px 5px;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    }  
}
@media only screen and (min-width: 450px) 
and (max-width: 550px){
    #tablealign{
        margin-top: 120px;
        margin-left:40px;
    }
    .icons{
        padding: 5px 12px;
        display: inline-block;
        cursor: pointer;
    }
    .icons1{
        
        padding: 5px 5px;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    }  
}
@media only screen and (min-width:551px) 
and (max-width:617px){
    #tablealign{
        margin-top: 120px;
        margin-left:40px;
    }
    .icons{
        padding: 5px 12px;
        display: inline-block;
        cursor: pointer;
    }
    .icons1{
        
        padding: 5px 5px;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    }   
}
@media only screen and (min-width: 618px) 
and (max-width: 700px) {
    #tablealign{
        margin-top: 120px;
        margin-left:40px;
    }
    .icons{
        padding: 5px 12px;
        display: inline-block;
        cursor: pointer;
    }
    .icons1{
        
        padding: 5px 5px;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    }  
}
@media only screen and (min-width: 701px) 
and (max-width: 767px) {
    #tablealign{
        margin-top: 120px;
        margin-left:40px;
    }
    .icons{
        padding: 5px 12px;
        display: inline-block;
        cursor: pointer;
    }
    .icons1{
        
        padding: 5px 5px;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    }  
}

@media only screen and (min-width:768px) 
and (max-width:850px){
    #tablealign{
        margin-top: 80px;
        margin-left:120px;
    }
    .icons{
        padding: 7px 12px;
        display: inline-block;
        cursor: pointer;
    }
    .icons1{
        
        padding: 7px 12px;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    } 
}
@media only screen and (min-width: 851px) 
and (max-width: 909px) {
    #tablealign{
        margin-top: 80px;
        margin-left:120px;
    }
    .icons{
        padding: 7px 12px;
        display: inline-block;
        cursor: pointer;
    }
    .icons1{
        
        padding: 7px 12px;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    }
}
@media only screen and (min-width: 910px) 
and (max-width: 1023px) {
    #tablealign{
        margin-top: 100px;
        margin-left:210px;
    }
    .icons{
        padding: 8px 15px;
        display: inline-block;
        cursor: pointer;
    }
    .icons1{
        
        padding: 8px 15px;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    }
}
@media only screen and (min-width: 1024px) 
and (max-width: 1100px){
    #tablealign{
        margin-top: 100px;
        margin-left:205px;
    }
    .icons{
        padding: 10px 18px;
        display: inline-block;
        cursor: pointer;
    }
    .icons1{
        
        padding: 10px 18px;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
    } 
}
@media only screen and (min-width: 1101px) 
    and (max-width: 1200px){
        #tablealign{
            margin-top: 100px;
            margin-left:180px;
        }
        .icons{
            padding: 10px 20px;
            display: inline-block;
            cursor: pointer;
        }
        .icons1{
            
            padding: 10px 20px;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
        }   
    }
@media only screen and (min-width: 1201px) 
    and (max-width: 1300px){
        #tablealign{
            margin-top: 80px;
            margin-left:200px;
        }
        .icons{
            padding: 12px 22px;
            display: inline-block;
            cursor: pointer;
        }
        .icons1{
            
            padding: 12px 22px;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
        }   
    }
    @media only screen and (min-width: 1301px) 
    and (max-width: 1360px)
      {
        #tablealign{
            margin-top: 120px;
            margin-left:175px;
           
        }   
    }
    @media only screen and (min-width: 1361px) 
    and (max-width: 1440px)
    {
        #tablealign{
            margin-top: 120px;
            margin-left:210px;  
        }   
    }
    @media only screen and (min-width: 1441px) and (max-width: 1520px){
        #tablealign{
            margin-top: 120px;
            margin-left:210px;  
        } 
    }
    @media only screen and (min-width: 1521px) and (max-width: 1600px)
      {
        #tablealign{
            margin-top: 120px;
            margin-left:275px;  
        }   
      }
      @media only screen and (min-width: 1601px) and (max-width: 1680px) 
      {
        #tablealign{
            margin-top: 120px;
            margin-left:315px;  
        }
      }
      @media only screen and (min-width: 1680px) and (max-width: 1760px)
       {
      
        #tablealign{
            margin-top: 120px;
            margin-left:370px;  
        }
    }
    @media only screen and (min-width: 1760px) and (max-width: 1840px) 
    {
        #tablealign{
            margin-top: 120px;
            margin-left:410px;  
        } 
    }
    @media only screen and (min-width: 1840px) and (max-width: 1920px)
    {
        #tablealign{
            margin-top: 120px;
            margin-left:450px;  
        }
    }
    @media only screen and (min-width: 1920px) and (max-width: 2000px) 
    {
        #tablealign{
            margin-top: 120px;
            margin-left:495px;  
        }
    }
