#dashboard-namebar{
    display: flex;
    color: white;
    margin-top: 100px;
    border: 2px solid orangered;
    height: 70px;
    margin-top: 70px;
    background-color: orangered;
    padding-left: 150px;
    font-size: 25px;
}

#dashboard-namebar-icon{
    height: 60px;
    width: 60px;
}
#dashboard-namebar-name{
    margin-left: 20px;
}

#dashboard-streak{
    margin-left: 900px;
    display: block;
}

#dashboard-badges{
    margin-left: 70px;
}

#dashboard_logowhite{
    margin-left: 50px;
    height: 55px;
    width: 212px;
}