#dashboard-base{
    background: orangered;
    width: 300px;
    height: 630px;
    

}
#dashboard_username{
    
}
#dashboardmenulist{
    line-height: 50px;
    font-size: 130%;
    padding-left: 15%;
    padding-top:5%;
}
#dashboard_usericon{
    border-radius: 50%;
    height: 65px;
    width: 65px;
}
#dashboardlist{
    line-height: 100px;
}
.dashboardicons{
    font-size: 220% ;
    padding-left: 30px;
    color: white;
    padding-top: 15%;
}
#dashboardupperarrow{
    padding-left: 200px;
    font-size: 200%;
    
}