
#forgotting_password{
    width: 500px;
    height: 400px;
    margin-left: 500px;
    margin-top: 60px;
    background-color: white;
    border-radius: 15px;
    
   
}
.forgotpassword_heading{
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    filter: brightness(200%);
}

.forgot_password_color{
    background: transparent linear-gradient(270deg, #FF3300 0%, #FF9900 100%) 0% 0% no-repeat padding-box;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 6px 10px #00000066;
    
}

.forgot_password_para{
    text-align: center;
    line-height: 20px;
    margin-top: -8px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.forgot_email{
    padding-top: 10px;
    padding-left: 30px;
    position: absolute;
    padding-bottom: 10px;
    width: 370px;
    box-shadow: 0px 3px 10px #00000066;
    height: 45px;
    border: none;
    margin-top: -54px;
    border-radius: 10px;
    margin-left: 60px;
}
.forgot_email:active {
    outline: none;
    border: none;   
    
}

.forgot_email:focus {
    outline: 0;
}
.confirm_forgot_password_submit{
    width: 180px;
    border-radius: 15px;
    height: 40px;
    margin-top: -46px;
    font-weight: bold;
    position:absolute;
    border: none !important;
    cursor: pointer;
    padding-bottom: 6px;
    box-shadow: 0px 3px 10px #00000066;
    margin-left: 60px;
    background-color: orangered;
    color: white;
}

.confirm_forgot_password_submit:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    
} 

.forgot_or{

    font-size: 20px;
    margin-left: 250px;
    margin-top: -38px;
    position: absolute;
    cursor: default;

}


.login_forgot_password_anchor{
    text-decoration: none;
    font-size: 25px;
    margin-left: 295px;
 position: absolute;
 margin-top: -42px;
 color: black;
    
}

td.forgot_password_color{
height: 115px;
}

