
#forgotting_password{
    width: 500px;
    height: 400px;
    margin-left: 500px;
    margin-top: 60px;
    background-color: white;
    border-radius: 15px;
    
   
}
.forgotpassword_heading{
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    filter: brightness(200%);
}

.forgot_password_color{
    background: transparent linear-gradient(270deg, #FF3300 0%, #FF9900 100%) 0% 0% no-repeat padding-box;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 6px 10px #00000066;
    
}

.forgot_password_para{
    text-align: center;
    line-height: 20px;
    margin-top: -8px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.forgot_email{
    padding-top: 10px;
    padding-left: 30px;
    position: absolute;
    padding-bottom: 10px;
    width: 370px;
    box-shadow: 0px 3px 10px #00000066;
    height: 45px;
    border: none;
    margin-top: -54px;
    border-radius: 10px;
    margin-left: 60px;
}
.forgot_email:active {
    outline: none;
    border: none;   
    
}

.forgot_email:focus {
    outline: 0;
}
.confirm_forgot_password_submit{
    width: 180px;
    border-radius: 15px;
    height: 40px;
    margin-top: -46px;
    font-weight: bold;
    position:absolute;
    border: none !important;
    cursor: pointer;
    padding-bottom: 6px;
    box-shadow: 0px 3px 10px #00000066;
    margin-left: 60px;
    background-color: orangered;
    color: white;
}

.confirm_forgot_password_submit:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    
} 

.forgot_or{

    font-size: 20px;
    margin-left: 250px;
    margin-top: -38px;
    position: absolute;
    cursor: default;

}


.login_forgot_password_anchor{
    text-decoration: none;
    font-size: 25px;
    margin-left: 295px;
 position: absolute;
 margin-top: -42px;
 color: black;
    
}

td.forgot_password_color{
height: 115px;
}


@media only screen and (min-width: 320px) 
and (max-width: 359px) 
{   
    #forgotting_password{
        width: 300px;
        margin-left: 10px;
    }
    .forgot_email{
        width: 230px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 40px;
        width: 120px;
        font-size: 14px;
    }
    .forgot_or{
        margin-left: 165px;
        font-size: 18px;
    }
    .login_forgot_password_anchor{
        margin-left: 200px;
        font-size: 18px;
        margin-top: -38px;
    }

    
}


@media only screen and (min-width: 360px) 
and (max-width: 374px) 
{   
    #forgotting_password{
        width: 300px;
        margin-left: 30px;
    }
    .forgot_email{
        width: 230px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 40px;
        width: 120px;
        font-size: 14px;
    }
    .forgot_or{
        margin-left: 165px;
        font-size: 18px;
    }
    .login_forgot_password_anchor{
        margin-left: 200px;
        font-size: 18px;
        margin-top: -38px;
    }

}

  @media only screen and (min-width: 375px) 
  and (max-width: 411px) 
    {
       
        #forgotting_password{
            width: 300px;
            margin-left: 50px;
            height: 400px;
        }
        .forgot_email{
            width: 230px;
            margin-left: 30px;
        }
        .confirm_forgot_password_submit{
            margin-left: 30px;
            width: 120px;
            font-size: 14px;
        }
        .forgot_or{
            margin-left: 155px;
            font-size: 18px;
        }
        .login_forgot_password_anchor{
            margin-left: 190px;
            font-size: 18px;
            margin-top: -38px;
        }
    
    }


    @media only screen and (min-width: 412px) 
    and (max-width: 413px) 
      {
        #forgotting_password{
            width: 300px;
            margin-left: 50px;
            height: 400px;
        }
        .forgot_email{
            width: 230px;
            margin-left: 30px;
        }
        .confirm_forgot_password_submit{
            margin-left: 40px;
            width: 120px;
            font-size: 14px;
        }
        .forgot_or{
            margin-left: 165px;
            font-size: 18px;
        }
        .login_forgot_password_anchor{
            margin-left: 200px;
            font-size: 18px;
            margin-top: -38px;
        }
       
      }

      
    @media only screen and (min-width: 414px) 
    and (max-width: 449px) 
      {
        #forgotting_password{
            width: 300px;
            margin-left: 65px;
            height: 400px;
        }
        .forgot_email{
            width: 230px;
            margin-left: 30px;
        }
        .confirm_forgot_password_submit{
            margin-left: 40px;
            width: 120px;
            font-size: 14px;
        }
        .forgot_or{
            margin-left: 165px;
            font-size: 18px;
        }
        .login_forgot_password_anchor{
            margin-left: 200px;
            font-size: 18px;
            margin-top: -38px;
        }
      
         
    
      
      }

  @media only screen and (min-width: 450px) 
and (max-width: 550px) 
  {
 
    #forgotting_password{
        width: 400px;
        margin-left: 30px;
        height: 450px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 40px;
        width: 120px;
        font-size: 14px;
    }
    .forgot_or{
        margin-left: 165px;
        font-size: 18px;
    }
    .login_forgot_password_anchor{
        margin-left: 200px;
        font-size: 18px;
        margin-top: -38px;
    }
  
}
    
   
  
  @media only screen and (min-width: 551px) 
and (max-width: 599px) 
  {
    #forgotting_password{
        width: 400px;
        margin-left: 80px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
    
  }

  @media only screen and (min-width: 600px) 
and (max-width: 616px) 
  {
    
    #forgotting_password{
        width: 400px;
        margin-left: 100px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
   
    
  }

  @media only screen and (min-width: 618px) 
and (max-width: 700px) 
{
    
    #forgotting_password{
        width: 400px;
        margin-left: 130px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
    
    
}

@media only screen and (min-width: 701px) 
and (max-width: 767px) 
  {
    #forgotting_password{
        width: 400px;
        margin-left: 170px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 799px) 
{
    #forgotting_password{
        width: 400px;
        margin-left: 190px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
   
}


@media only screen and (min-width: 800px) and (max-width: 850px) 
{
    #forgotting_password{
        width: 400px;
        margin-left: 220px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
    
}
    


    @media only screen and (min-width: 851px) and (max-width: 909px)
     {
   
        #forgotting_password{
            width: 400px;
            margin-left: 250px;
            height: 480px;
        }
        .forgot_email{
            width: 330px;
            margin-left: 30px;
        }
        .confirm_forgot_password_submit{
            margin-left: 20px;
            width: 180px;
        }
        .forgot_or{
            margin-left: 220px;
        }
        .login_forgot_password_anchor{
            margin-left: 270px;
        }
    
      
 } @media only screen and (min-width: 910px) and (max-width: 1023px) {

    #forgotting_password{
        width: 400px;
        margin-left: 320px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
    


}


@media only screen and (min-width: 1024px) and (max-width: 1100px) {
    #forgotting_password{
        width: 400px;
        margin-left: 340px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
 
}


@media only screen and (min-width: 1101px) and (max-width: 1200px) {

    #forgotting_password{
        width: 400px;
        margin-left: 380px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
 
    
}


@media only screen and (min-width: 1201px) and (max-width: 1300px) {
    #forgotting_password{
        width: 400px;
        margin-left: 430px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
}


@media only screen and (min-width: 1301px) 
and (max-width: 1359px)
  {
    #forgotting_password{
        width: 400px;
        margin-left: 460px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
   
}

@media only screen and (min-width: 1360px) and (max-width: 1439px)
 {

    #forgotting_password{
        width: 400px;
        margin-left: 490px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
   
}

  @media only screen and (min-width: 1440px) 
and (max-width: 1520px)
  {

    #forgotting_password{
        width: 400px;
        margin-left: 540px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
  
  
  }
  @media only screen and (min-width: 1521px) 
and (max-width: 1599px)
  {
    #forgotting_password{
        width: 400px;
        margin-left: 570px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
   
   
  
  
   
  
  }
  @media only screen and (min-width: 1600px) 
and (max-width: 1679px)
  {

    #forgotting_password{
        width: 400px;
        margin-left: 620px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
   
   
   
  
  }
  @media only screen and (min-width: 1680px) 
  and (max-width: 1759px)
    {
  
        #forgotting_password{
            width: 400px;
            margin-left: 640px;
            height: 480px;
        }
        .forgot_email{
            width: 330px;
            margin-left: 30px;
        }
        .confirm_forgot_password_submit{
            margin-left: 20px;
            width: 180px;
        }
        .forgot_or{
            margin-left: 220px;
        }
        .login_forgot_password_anchor{
            margin-left: 270px;
        }
       
       
    
    }
  @media only screen and (min-width: 1760px) 
and (max-width: 1840px)
  {
    #forgotting_password{
        width: 400px;
        margin-left: 670px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
   
      
  }
  @media only screen and (min-width: 1841px) 
and (max-width: 1919px)
  {
    #forgotting_password{
        width: 400px;
        margin-left: 700px;
        height: 480px;
    }
    .forgot_email{
        width: 330px;
        margin-left: 30px;
    }
    .confirm_forgot_password_submit{
        margin-left: 20px;
        width: 180px;
    }
    .forgot_or{
        margin-left: 220px;
    }
    .login_forgot_password_anchor{
        margin-left: 270px;
    }
    
  
  }
  @media only screen and (min-width: 1920px) 
  and (max-width: 2000px)
    {
  

        #forgotting_password{
            width: 500px;
            margin-left: 750px;
            height: 480px;
        }
        .forgot_email{
            width: 430px;
            margin-left: 30px;
        }
        .confirm_forgot_password_submit{
            margin-left: 40px;
            width: 180px;
        }
        .forgot_or{
            margin-left: 240px;
        }
        .login_forgot_password_anchor{
            margin-left: 290px;
        }
      
    
  }