#pan{
    border: box solid;
    background: white;
    margin-left: 400px;
    margin-top: 200px;
    margin-right: 400px;
    height: 450px;
}
#pan1{
    color: black;
    margin-left: 30px;
    padding-top: 20px;
    box-sizing: inherit;
}
#pan2{
    margin-left: 30px;
    margin-top: 20px;
}
#pan3{
    margin-left: 30px;
    margin-top: 20px;
}
#pan4{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 14px;
}
#submit{
    margin-left: 30px;
    margin-top: 20px;
    background-color: orangered;
}
#pan5{
    margin-left: 30px;
    color: blue;
    font-size: 12px;
    font-weight: bolder;
}