.nav_bar_dash {
    top: 0px;
    left: 0px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.9;
    background-color:rgba(255, 255, 255, 0.01);
    height: 50px;
}
.nav_dash_logo5 {
    margin-left: 30px;
    opacity: 1;
    position: absolute;
    flex: 1;
    font-size: 20px;
    left: 0px;
    width: 200px;
    height: 120px;
}
.nav_dash_logo5:hover{
    cursor: pointer;
}

#nav_dash_bell{
    margin-left: 1320px;
    margin-top: 23px;
}
#nav_dash_bell:hover{
    cursor: pointer;
}

#nav_dash_cart {
    margin-left: 1270px;
    margin-top: -33px;
    margin-bottom: 25px;
}
#nav_dash_cart:hover{
    cursor: pointer;
}


.nav_dash_dropicn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-left: 1350px;
    margin-top: -70px;
    margin-bottom: 26px;
    border-radius:32px;
}


.nav_dash_dropdown {
    position: relative;
    display: inline-block;
    margin-left: 0px;
    margin-top: -29px;
    

}


.nav_dash_dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    margin-left: 1230px;
    margin-top: -29px;
}


.nav_dash_dropdown-content .nav_dash_droplist {
    color: black;
    padding: 8px 18px;
    text-align: left;
    text-decoration: none;
    display: block;
    width:180px;
    border:none;
    font-weight: bold;
    background-color: #FFFFFF;
}


.nav_dash_dropdown-content .nav_dash_droplist:hover {
    background-color: #FF3300;
    color: #FFFFFF;
    cursor: pointer;
}
.nav_dash_dropdown:hover .nav_dash_dropdown-content {
    display: block;
}

/*.dropdown:hover .dropicn {
    background-color: #eef7ee;
} */

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .nav_dash_logo5{
        margin-left: 10px;
        margin-top: 5px;
    }
    #nav_dash_bell {
        margin-left: 220px;
        margin-top: 18px;
    }
    #nav_dash_cart{
        margin-left: 245px;
        margin-top: -33px;
        margin-bottom: 25px;
    }
    
    .nav_dash_dropicn {
        margin-left: 265px;
        margin-top: -85px;
        margin-bottom: 27px;
    }
    .nav_dash_dropdown-content {
        margin-left: 585px;
        margin-top: -29px;
    }
}

@media only screen and (min-width: 374px) and (max-width: 450px) {
    #nav_dash_bell {
        margin-left: 240px;
        margin-top: 18px;
    }
    #nav_dash_cart {
        margin-left: 280px;
        margin-top: -33px;
        margin-bottom: 25px;
    }
    
    .nav_dash_dropicn {
        margin-left: 310px;
        margin-top: -85px;
        margin-bottom: 27px;
    }
    .nav_dash_dropdown-content {
        margin-left: 585px;
        margin-top: -29px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 550px) {
    #nav_dash_bell {
        margin-left: 310px;
        margin-top: 18px;
    }
    #nav_dash_cart {
        margin-left: 350px;
        margin-top: -33px;
        margin-bottom: 25px;
    }
    
    .nav_dash_dropicn {
        margin-left: 380px;
        margin-top: -85px;
        margin-bottom: 27px;
    }
    .nav_dash_dropdown-content {
        margin-left: 585px;
        margin-top: -29px;
    }
}

@media only screen and (min-width: 551px) and (max-width: 617px) {
    #nav_dash_bell {
        margin-left: 400px;
        margin-top: 18px;
    }
    #nav_dash_cart {
        margin-left: 450px;
        margin-top: -33px;
        margin-bottom: 25px;
    }
    
    .nav_dash_dropicn {
        margin-left: 490px;
        margin-top: -85px;
        margin-bottom: 27px;
    }
    .nav_dash_dropdown-content {
        margin-left: 585px;
        margin-top: -29px;
    }
}

@media only screen and (min-width: 618px) and (max-width: 700px) {
    #nav_dash_bell {
        margin-left: 490px;
        margin-top: 18px;
    }
    #nav_dash_cart {
        margin-left: 530px;
        margin-top: -33px;
        margin-bottom: 25px;
    }
    
    .nav_dash_dropicn {
        margin-left: 560px;
        margin-top: -85px;
        margin-bottom: 27px;
    }
    .nav_dash_dropdown-content {
        margin-left: 585px;
        margin-top: -29px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 767px) {
    #nav_dash_bell {
        margin-left: 560px;
        margin-top: 10px;
    }
    #nav_dash_cart {
        margin-left: 610px;
        margin-top: -33px;
        margin-bottom: 25px;
    }
    
    .nav_dash_dropicn {
        margin-left: 650px;
        margin-top: -85px;
        margin-bottom: 27px;
    }
    .nav_dash_dropdown-content {
        margin-left: 585px;
        margin-top: -29px;
    }
}
@media only screen and (min-width: 768px) 
and (max-width: 850px) {
    #nav_dash_bell {
        margin-left: 630px;
        margin-top: 10px;
    }
    #nav_dash_cart {
        margin-left: 670px;
        margin-top: -33px;
        margin-bottom: 25px;
    }
    
    .nav_dash_dropicn {
        margin-left: 710px;
        margin-top: -85px;
        margin-bottom: 27px;
    }
    .nav_dash_dropdown-content {
        margin-left: 785px;
        margin-top: -29px;
    }
}
@media only screen and (min-width: 851px) 
  and (max-width: 909px){
    #nav_dash_bell {
        margin-left: 735px;
        margin-top: 18px;
    }
    #nav_dash_cart {
        margin-left: 770px;
        margin-top: -33px;
        margin-bottom: 25px;
    }
    
    .nav_dash_dropicn {
        margin-left: 800px;
        margin-top: -85px;
        margin-bottom: 27px;
    }
    .nav_dash_dropdown-content {
        margin-left: 785px;
        margin-top: -29px;
    }
  }
  @media only screen and (min-width: 910px) 
    and (max-width: 1023px) 
{
    #nav_dash_bell {
        margin-left: 860px;
        margin-top: 18px;
    }
    #nav_dash_cart {
        margin-left: 900px;
        margin-top: -33px;
        margin-bottom: 25px;
    }
    
    .nav_dash_dropicn {
        margin-left: 930px;
        margin-top: -85px;
        margin-bottom: 27px;
    }
    .nav_dash_dropdown-content {
        margin-left: 985px;
        margin-top: -29px;
    }
}
@media only screen and (min-width: 1024px) 
  and (max-width: 1100px){
    #nav_dash_bell {
        margin-left: 900px;
        margin-top: 10px;
    }
    #nav_dash_cart {
        margin-left: 940px;
        margin-top: -33px;
        margin-bottom: 25px;
    }
    
    .nav_dash_dropicn {
        margin-left: 970px;
        margin-top: -85px;
        margin-bottom: 27px;
    }
    .nav_dash_dropdown-content {
        margin-left: 985px;
        margin-top: -29px;
    }
  }
  @media only screen and (min-width: 1101px) 
  and (max-width: 1200px){
    #nav_dash_bell {
        margin-left: 1010px;
        margin-top: 10px;
    }
    #nav_dash_cart {
        margin-left: 1050px;
        margin-top: -33px;
        margin-bottom: 25px;
    }
    
    .nav_dash_dropicn {
        margin-left: 1080px;
        margin-top: -85px;
        margin-bottom: 27px;
    }
    .nav_dash_dropdown-content {
        margin-left: 915px;
        margin-top: -29px;
    }
  }
  @media only screen and (min-width: 1201px) 
    and (max-width: 1300px){
        #nav_dash_bell {
            margin-left: 1090px;
            margin-top: 18px;
        }
        #nav_dash_cart {
            margin-left: 1130px;
            margin-top: -33px;
            margin-bottom: 25px;
        }
        
        .nav_dash_dropicn {
            margin-left: 1170px;
            margin-top: -85px;
            margin-bottom: 27px;
        }
        .nav_dash_dropdown-content {
            margin-left: 1010px;
            margin-top: -29px;
        }
    }
    @media only screen and (min-width: 1301px) 
      and (max-width: 1360px){
        #nav_dash_bell {
            margin-left: 1148px;
            margin-top: 10px;
        }
        #nav_dash_cart {
            margin-left: 1195px;
            margin-top: -33px;
            margin-bottom: 25px;
        }
        
        .nav_dash_dropicn {
            margin-left: 1240px;
            margin-top: -85px;
            margin-bottom: 27px;
        }
        .nav_dash_dropdown-content {
            margin-left: 1105px;
            margin-top: -29px;
        }
      }
      @media only screen and (min-width: 1361px) 
      and (max-width: 1440px){
        #nav_dash_bell {
            margin-left: 1202px;
            margin-top: 10px;
        }
        #nav_dash_cart {
            margin-left: 1252px;
            margin-top: -33px;
            margin-bottom: 25px;
        }
        
        .nav_dash_dropicn {
            margin-left: 1300px;
            margin-top: -85px;
            margin-bottom: 27px;
        }
        .nav_dash_dropdown-content {
            margin-left: 1166px;
            margin-top: -29px;
        } 
      }
      @media only screen and (min-width: 1441px) and (max-width: 1520px)
      {
        #nav_dash_bell {
            margin-left: 1270px;
            margin-top: 10px;
        }
        #nav_dash_cart {
            margin-left: 1322px;
            margin-top: -33px;
            margin-bottom: 25px;
        }
        
        .nav_dash_dropicn {
            margin-left: 1370px;
            margin-top: -85px;
            margin-bottom: 27px;
        }
        .nav_dash_dropdown-content {
            margin-left: 1236px;
            margin-top: -29px;
        }   
      }
      @media only screen and (min-width: 1521px) and (max-width: 1600px)
      {
        #nav_dash_bell {
            margin-left: 1350px;
            margin-top: 10px;
        }
        #nav_dash_cart {
            margin-left: 1405px;
            margin-top: -33px;
            margin-bottom: 25px;
        }
        
        .nav_dash_dropicn {
            margin-left: 1455px;
            margin-top: -85px;
            margin-bottom: 27px;
        }
        .nav_dash_dropdown-content {
            margin-left: 1321px;
            margin-top: -29px;
        } 
      }
      @media only screen and (min-width: 1601px) and (max-width: 1680px) 
      {
        #nav_dash_bell {
            margin-left: 1445px;
            margin-top: 10px;
        }
        #nav_dash_cart {
            margin-left: 1500px;
            margin-top: -33px;
            margin-bottom: 25px;
        }
        
        .nav_dash_dropicn {
            margin-left: 1550px;
            margin-top: -85px;
            margin-bottom: 27px;
        }
        .nav_dash_dropdown-content {
            margin-left: 1420px;
            margin-top: -29px;
        }
      }
      @media only screen and (min-width: 1680px) and (max-width: 1760px) 
      {
        #nav_dash_bell {
            margin-left: 1530px;
            margin-top: 10px;
        }
        #nav_dash_cart {
            margin-left: 1580px;
            margin-top: -33px;
            margin-bottom: 25px;
        }
        
        .nav_dash_dropicn {
            margin-left: 1625px;
            margin-top: -85px;
            margin-bottom: 27px;
        }
        .nav_dash_dropdown-content {
            margin-left: 1488px;
            margin-top: -29px;
        }
      }
      @media only screen and (min-width: 1760px) and (max-width: 1840px) 
     {
        #nav_dash_bell {
            margin-left: 1607px;
            margin-top: 10px;
        }
        #nav_dash_cart {
            margin-left: 1655px;
            margin-top: -33px;
            margin-bottom: 25px;
        }
        
        .nav_dash_dropicn {
            margin-left: 1700px;
            margin-top: -85px;
            margin-bottom: 27px;
        }
        .nav_dash_dropdown-content {
            margin-left: 1567px;
            margin-top: -29px;
        }
     }
        
     @media only screen and (min-width: 1840px) and (max-width: 1920px) 
     {
        #nav_dash_bell {
            margin-left: 1670px;
            margin-top: 10px;
        }
        #nav_dash_cart {
            margin-left: 1725px;
            margin-top: -33px;
            margin-bottom: 25px;
        }
        
        .nav_dash_dropicn {
            margin-left: 1775px;
            margin-top: -85px;
            margin-bottom: 27px;
        }
        .nav_dash_dropdown-content {
            margin-left: 1640px;
            margin-top: -29px;
        }
     }
     @media only screen and (min-width: 1920px) and (max-width: 2000px)
     {
        #nav_dash_bell {
            margin-left: 1730px;
            margin-top: 10px;
        }
        #nav_dash_cart {
            margin-left: 1790px;
            margin-top: -33px;
            margin-bottom: 25px;
        }
        
        .nav_dash_dropicn {
            margin-left: 1845px;
            margin-top: -85px;
            margin-bottom: 27px;
        }
        .nav_dash_dropdown-content {
            margin-left: 1710px;
            margin-top: -29px;
        }
     }