#footer_main_container{
    background: #2D2D2DCF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    padding-top: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
  justify-content: space-evenly;
    
}
.footer_link{
    text-decoration: none;
}

#footer_container_one{
    margin-top: 40px;
    /* margin-left: 7.5%; */

}
.footer_image_ikonohub{
    width: 200px;
    height: 60px;
    
}

#footer_nav_options{

    /* margin-left:8%; */
}

.footer_option_underline{
    border: 1px solid grey;  

}

.footer_options{
    color: silver;
    font-size: 20px;
}

#footer_follow_content{
    margin-top: -25px;
    /* margin-left:8%; */
    padding: 0px;

}


.footer_follow_heading{
    color: white;
    font-size: 25px;
   
}

.footer_follow_mini_para{
    color: silver;
    
    
    
}

#footer_follow_images{
margin-left: -15px;

}

.footer_follow_image_logo{
    width: 30px;
    margin-left: 15px;
  
}

#footer_help{

    margin-top: -25px;
    /* margin-left: -2%; */

   
}

.footer_help_heading{
    color: white;
    font-size: 25px;
}

.footer_help_contact_details{
    color: silver;
    
}


/* Responsive css starts here */

@media only screen and (min-width:320px) 
and (max-width:415px){
    #footer_main_container{
        padding-bottom: 10px;
        flex-direction: column;
        
        /* align-items: center; */
        
    }
    
    #footer_container_one{
        margin-top: 10px;
    
    
    }
    .footer_image_ikonohub{
      display: none;
    
        
    }
    
    #footer_nav_options{
        
    margin-left: 2.5%;
     
    }
    
    .footer_option_underline{
        border: 1px solid grey;
        margin-right:70%;
    }
    .footer_options{
        font-size: 15px;
    }
    #footer_follow_content{
        margin-top: 5px;
        margin-left: 2.5%;
    }
    .footer_follow_heading{
    
        font-size: 20px;
       
    }
    
    .footer_follow_mini_para{
        
        
        
    }
    
    #footer_follow_images{
    margin-left: -15px;
    
    }
    
    .footer_follow_image_logo{
        width: 30px;
        margin-left: 15px;
      
    }
    
    #footer_help{
    
        margin-top: 5px;
        margin-left:2.5%;
        /* margin-left: -2%; */
    
       
    }
    
    .footer_help_heading{

        font-size: 20px;
    }
    
    .footer_help_contact_details{
    
        font-size: 15px;
    }
   
}


@media only screen and (min-width:416px) 
and (max-width:699px){
    #footer_main_container{
        padding-bottom: 10px;
        flex-direction: row;
        flex-wrap:wrap ;
        
        /* align-items: center; */
        
    }
    
    #footer_container_one{
        margin-top: 10px;
    
    
    }
    .footer_image_ikonohub{
      display: none;
    
        
    }
    
    #footer_nav_options{
        
    margin-left: 0%;
    
     
    }
    
    .footer_option_underline{
        border: 1px solid grey;
        margin-right:0%;
    }
    .footer_options{
        font-size: 15px;
    }
    #footer_follow_content{
        margin-top: -22px;
        margin-left: 10%;
        
    }
    .footer_follow_heading{
    
        font-size: 20px;
       
    }
    
    .footer_follow_mini_para{
        
        
        
    }
    
    #footer_follow_images{
    margin-left: -15px;
    
    }
    
    .footer_follow_image_logo{
        width: 30px;
        margin-left: 15px;
      
    }
    
    #footer_help{
    
        margin-top: 0px;
        /* margin-left: -2%; */
    
       
    }
    
    .footer_help_heading{

        font-size: 20px;
    }
    
    .footer_help_contact_details{
    
        font-size: 15px;
    }
   
}
@media only screen and (min-width:700px) 
and (max-width:767px){
    #footer_main_container{
        padding-bottom: 10px;
        flex-direction: row;
        
        
        /* align-items: center; */
        
    }
    
    #footer_container_one{
        margin-top: 10px;
    
    
    }
    .footer_image_ikonohub{
      display: none;
    
        
    }
    
    #footer_nav_options{
        
    margin-left: 0%;
    
     
    }
    
    .footer_option_underline{
        border: 1px solid grey;
        margin-right:0%;
    }
    .footer_options{
        font-size: 15px;
    }
    #footer_follow_content{
        margin-top: -22px;
        margin-left: 1%;
        
    }
    .footer_follow_heading{
    
        font-size: 20px;
       
    }
    
    .footer_follow_mini_para{
        
        
        
    }
    
    #footer_follow_images{
    margin-left: -15px;
    
    }
    
    .footer_follow_image_logo{
        width: 30px;
        margin-left: 15px;
      
    }
    
    #footer_help{
    
        margin-top: -22px;
        margin-left: 1%;
    
       
    }
    
    .footer_help_heading{

        font-size: 20px;
    }
    
    .footer_help_contact_details{
    
        font-size: 15px;
    }
   
}
@media only screen and (min-width:768px) 
and (max-width:960px){

    #footer_main_container{
        padding-bottom: 10px;
        
    }
    
    #footer_container_one{
        margin-top: 40px;
    
    
    }
    .footer_image_ikonohub{
      display: none;
    
        
    }
    
    #footer_nav_options{
    margin-left: -5%;
     
    }
    
    .footer_option_underline{
        border: 1px solid grey;

    
    }
    
    .footer_options{

        font-size: 15px;
    }
    
    #footer_follow_content{
        margin-top: -25px;
    
    }
    
    
    .footer_follow_heading{
    
        font-size: 20px;
       
    }
    
    .footer_follow_mini_para{
        
        
        
    }
    
    #footer_follow_images{
    margin-left: -15px;
    
    }
    
    .footer_follow_image_logo{
        width: 30px;
        margin-left: 15px;
      
    }
    
    #footer_help{
    
        margin-top: -25px;
        /* margin-left: -2%; */
    
       
    }
    
    .footer_help_heading{

        font-size: 20px;
    }
    
    .footer_help_contact_details{
    
        
    }
   
  }